<include file="Public:header"/>
<script type="text/javascript" src="__PUBLIC__/layer/laydate/laydate.js"></script>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title"><a href="{:U('User/bank')}">提现地址</a> >></span>
			 <span class="h1-title"><empty name="data">添加地址
				 <else/>
			                                           编辑地址
			 </empty></span>
		</div>
		<div class="tab-wrap">
			<div class="tab-content">
				<form id="form" action="{:U('User/bankEdit')}" method="post" class="form-horizontal">
					<div id="tab" class="tab-pane in tab">
						<div class="form-item cf">
							<table>
								<tr class="controls">
									<td class="item-label">用户id :</td>
									<td>
										<input type="text" class="form-control input-10x" name="userid" value="{$data.userid}">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls" style="display:none;">
									<td class="item-label">备注名称 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="name" value="test">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls" style="display:none;">
									<td class="item-label">开户银行 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="bank" value="农业银行">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls" style="display:none;">
									<td class="item-label">开户省份 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="bankprov" value="ceshi">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls" style="display:none;">
									<td class="item-label">开户城市 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="bankcity" value="ceshi">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls" style="display:none;">
									<td class="item-label">开户支行 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="bankaddr" value="ceshi">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">支付宝账号 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="bankcard" value="{$data.bankcard}">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">添加时间 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="addtime" value="{$data['addtime']|addtime}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">状态 :</td>
									<td><select name="status" class="form-control input-10x">
										<option value="1"
										<eq name="data.status" value="1">selected</eq>
										>正常</option>
										<option value="0"
										<eq name="data.status" value="0">selected</eq>
										>冻结</option>
									</select></td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label"></td>
									<td>
										<div class="form-item cf">
											<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
											<a class="btn btn-return" href="{$Think.server.HTTP_REFERER}">返 回</a>
											<notempty name="data.id"><input type="hidden" name="id" value="{$data.id}"/>
											</notempty>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//提交表单
	$('#submit').click(function () {
		$('#form').submit();
	});
</script>
<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//导航高亮
		highlight_subnav("{:U('User/bank')}");
	</script>
</block>