.w670{
    width: 670px/$ppr;
    margin: 0 auto;
}
.shop_seting{
    background: white;
}
.alone_row_set{
    font-family: "黑体";
    padding: 36px/$ppr 0;
    border-top: 1px solid #f5f5f5;
    &:first-child{
        border-top:none;
    }
    span{
        color: #333333;
        @include fs(font-size,32);
    }
    input[type=text]{
        color: #7f7f7f;
        @include fs(font-size,30);
        width: 450px/$ppr;
        border: none;
        outline: none;
    }
}
.shop_img_set{
    background: white;
    border-top:8px solid #e2e3e8;
}
.upload_shopbag{
    img{
        width: 100%;
        height: 294px/$ppr;
    }
}
.submit_set{
    width: 100%;
    height: 80px/$ppr;
    line-height: 80px/$ppr;
    background: #e63138;
    outline: none;
    border: none;
    @include fs(font-size,34);
    color: white;
    border-radius: 6px/$ppr;
    display: block;
    text-align: center;
    cursor: pointer;
}
