<div class="left-nav-bar" id="left-nav-bar">
	<div class="left-nav-slider">
		<dl class="nav-tab-list">
			<dt>
				<a href="/user/index.html"><i class="fa fa-shield fa-lg mr10"></i>安全中心</a>
			</dt>
			<dt class="nav-tab-hover hover1"></dt>
			<dd class="user_index">
				<a href="/user/index.html"> <i class="fa fa-diamond fa-lg fa-fw mr5"></i> <span>账户预览</span> <i class="fa fa-angle-right  fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="user_truename">
				<a href="/user/nameauth.html"> <i class="fa fa-list-alt fa-lg fa-fw mr5"></i> <span>实名认证</span> <i class="fa fa-angle-right   fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="user_password">
				<a href="/user/password.html"> <i class="fa fa-unlock-alt fa-lg fa-fw mr5"></i> <span>登录密码</span> <i class="fa fa-angle-right   fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="user_paypassword">
				<a href="/user/paypassword.html"> <i class="fa fa-key fa-lg fa-fw mr5"></i> <span>交易密码</span> <i class="fa fa-angle-right   fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="user_moble">
				<a href="/user/moble.html"> <i class="fa fa-tablet fa-lg fa-fw mr5"></i> <span>绑定手机</span> <i class="fa fa-angle-right   fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="user_log">
				<a href="/user/log.html"> <i class="fa fa-search fa-lg fa-fw mr5"></i> <span>登录日志</span> <i class="fa fa-angle-right   fa-lg right mr10 mt17"></i> </a>
			</dd>
<!-- 			<dd class="user_goods">
				<a href="/user/goods.html"> <i class="fa fa-globe fa-lg fa-fw mr5"></i> <span>收货地址</span> <i class="fa fa-angle-right   fa-lg right mr10 mt17"></i> </a>
			</dd> -->
		</dl>
	</div>
</div>