<include file="Public:header" />

<div class="autobox">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i>
		<a href="/" class="">首页 </a> &gt; 
		<a href="/user/index.html" class="">安全中心 </a> &gt;登录日志
		</div>
	<div class="main-content">
		<style>
	.nav-tab-list .nav-tab-hover{
		width:100%;
		top:60px;
		height:50px;
		line-height:50px;
		background:#EAEDF4;
		position:absolute;
		box-sizing:content-box;
		z-index:1;
		transition:all 0.5s;
		-webkit-transition:all 0.5s;
		display:none;
	}
</style>
<script type="text/javascript">
	$(function () {
		(function () {
			var tab   = $('.nav-tab-list dd');
			var hover = $('.nav-tab-hover');
			var pos   = 0;
			tab.each(function (index) {
				var $this = $(this);
				if ($this.hasClass('active')) {
					pos = index;
				}
				$this.hover(function () {
					_moveTo(index);
				}, function () {
					_moveTo(pos);
				});
			});
			_moveTo(pos);
			$('.nav-tab-hover').show();
			function _moveTo(index) {
				hover.css("top", 60 + 50 * index);
				tab.removeClass('active');
				tab.eq(index).addClass('active');
			}
		})();
	});
	$(window).on('scroll resize', function () {
		if (document.body.scrollTop < 100) {
			$('#left-nav-bar').css("top", 0);
		} else if (document.body.scrollTop > ($('.tag-list-content').height() - $('#left-nav-bar').height() + 100)) {
			$('#left-nav-bar').css("top", ($('.tag-list-content').height() - $('#left-nav-bar').height()));
		} else {
			$('#left-nav-bar').css("top", document.body.scrollTop - 100);
		}
	});
</script>

<include file="User:left" />



		<div class="tag-list-content assets_content bg_w">
			<div class="safe_center clear">
				<h1>
					<span>
						登录日志					</span>
					<span>
												<a class="right" onclick="$('#hints').slideToggle();"><i class="fa fa-hand-o-right move fz_14 mr5"></i><span class="fz_12 move">查看介绍</span></a>
											</span>
				</h1>
			</div>
			<div id="hints" class="mytips" style="display:none;">
				
				<p>
				
            <notempty name="prompt_text">
                    {$prompt_text}
            </notempty>
				
				</p>			</div>
			<div class="cnyin_record">
				<div class="f_body">
					<table class="f_table" id="investLog_content">
						<thead>
						<tr>
							<th>操作时间</th>
							<th>操作类型</th>
							<th>操作备注</th>
							<th>操作ip</th>
							<th>操作地址</th>
							<th>状态</th>
						</tr>
						</thead>
						<tbody>
						
						
						
						<volist name="list" id="vo">
						<tr>
							<td>{$vo.addtime|addtime}</td>
							<td>{$vo.type}</td>
							<td>{$vo.remark}</td>
							<td>{$vo.addip}</td>
							<td>{$vo.addr} </td>
							<td>
								 
								 
								<eq name="vo.status" value="0">
									<font color="violet">出错</font>
								</eq>
								<eq name="vo.status" value="1"> <font class="green">正常</font></eq>
								<eq name="vo.status" value="2">
									<font color="red">异常</font>
								</eq>

								 </td>
						</tr>
											
						</volist>						
												
												
												
					    </tbody>
					</table>
					<div class="pages">{$page}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
$('.user_log').addClass('active');
</script>




<include file="Public:footer" />