<include file="Public:header" />

<div class="autobox">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i>
		<a href="/" class="">首页 </a> &gt; 
		<a href="/user/index.html" class="">安全中心 </a> &gt;登录密码
		</div>
	<div class="main-content">
		<style>
	.nav-tab-list .nav-tab-hover{
		width:100%;
		top:60px;
		height:50px;
		line-height:50px;
		background:#EAEDF4;
		position:absolute;
		box-sizing:content-box;
		z-index:1;
		transition:all 0.5s;
		-webkit-transition:all 0.5s;
		display:none;
	}
</style>
<script type="text/javascript">
	$(function () {
		(function () {
			var tab   = $('.nav-tab-list dd');
			var hover = $('.nav-tab-hover');
			var pos   = 0;
			tab.each(function (index) {
				var $this = $(this);
				if ($this.hasClass('active')) {
					pos = index;
				}
				$this.hover(function () {
					_moveTo(index);
				}, function () {
					_moveTo(pos);
				});
			});
			_moveTo(pos);
			$('.nav-tab-hover').show();
			function _moveTo(index) {
				hover.css("top", 60 + 50 * index);
				tab.removeClass('active');
				tab.eq(index).addClass('active');
			}
		})();
	});
	$(window).on('scroll resize', function () {
		if (document.body.scrollTop < 100) {
			$('#left-nav-bar').css("top", 0);
		} else if (document.body.scrollTop > ($('.tag-list-content').height() - $('#left-nav-bar').height() + 100)) {
			$('#left-nav-bar').css("top", ($('.tag-list-content').height() - $('#left-nav-bar').height()));
		} else {
			$('#left-nav-bar').css("top", document.body.scrollTop - 100);
		}
	});
</script>

<include file="User:left" />




		<div class="tag-list-content assets_content bg_w">
			<div class="safe_center clear">
				<h1>
					<span>
						登陆密码					</span>
					<span>
					<a class="right" onclick="$('#hints').slideToggle();">
					<i class="fa fa-hand-o-right move fz_14 mr5"></i><span class="fz_12 move">查看介绍</span></a>
											</span>
				</h1>
			</div>
			<div id="hints" class="mytips" style="display:none;">
				
				<notempty name="prompt_text">
					<p>{$prompt_text}</p>		
				</notempty>		
			</div>
			<div class="mytable-body pwtrade  ">
				<dl>
					<dt></dt>
					<dd class="band_succ move">
						<i class="fa fa-check mr5"></i>请定期更新登陆密码					</dd>
				</dl>
				<dl>
					<dt>旧登录密码：</dt>
					<dd>
						<input type="password" id="oldpassword" class="texts" tabindex="1">
						<a href="/Login/findpwd" class="move ml5">忘记?</a>
					</dd>
				</dl>
				<dl>
					<dt>新登录密码：</dt>
					<dd>
						<input type="password" id="newpassword" class="texts" tabindex="2">
					</dd>
				</dl>
				<dl>
					<dt>确认密码：</dt>
					<dd>
						<input type="password" id="repassword" class="texts" tabindex="3">
					</dd>
				</dl>
				<dl>
					<dt></dt>
					<dd>
						<input type="button" tabindex="4" class="btns2" value="保存" onclick="password_up()">
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>















<script>
					var hints = "0";
					if(hints == 1){
						$('#hints').show();
					}
				</script>
<script>
	function password_up() {
		var oldpassword = $('#oldpassword').val();
		var newpassword = $('#newpassword').val();
		var repassword  = $('#repassword').val();

		if (oldpassword == '' || oldpassword == null) {
			layer.tips("请输入旧登录密码", '#oldpassword', {tips: 2});
			return false;
		}
		if (newpassword == '' || newpassword == null) {
			layer.tips("请输入新登录密码", '#newpassword', {tips: 2});
			return false;
		}
		if (repassword != newpassword) {
			layer.tips("确认密码错误", '#repassword', {tips: 2});
			return false;
		}

		$.post("/user/uppassword_qq.html", {
			oldpassword: oldpassword,
			newpassword: newpassword,
			repassword:repassword
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				if (data.url) {
					window.location = data.url;
				} else {
					window.location.reload();
				}

			} else {
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, 'json');
	}
</script>
<script>
	$('.user_password').addClass('active');
</script>



<script>
	if ($("#user_box").length > 0) {
		$('#user_box').addClass('active');
	} else {
		$('#index_box').addClass('active');
	}
</script>
<script>
	$('.finan_index').addClass('active');
</script>












<include file="Public:footer" />