<include file="Public:header" />
<div id="main-content">
 <div id="top-alert" class="fixed alert alert-error" style="display: none;">
  <button class="close fixed" style="margin-top: 4px;">&times;</button>
  <div class="alert-content">警告内容</div>
 </div>
 <div id="main" class="main">
  <div class="main-title-h">
   <span class="h1-title">APP广告板块管理</span>
  </div>
  <div class="cf">
   <div class="fl">
    <a class="btn btn-success navbar-btn btn-sm" href="{:U('App/adsblock_edit')}">新 增</a>
    <button class="btn ajax-post btn-info navbar-btn btn-sm" url="{:U('App/adsblock_edit_status',array('method'=>'resume'))}" target-form="ids">启 用</button>
    <button class="btn ajax-post btn-warning navbar-btn btn-sm" url="{:U('App/adsblock_edit_status',array('method'=>'forbid'))}" target-form="ids">禁 用</button>
    <button class="btn ajax-post confirm btn-danger navbar-btn btn-sm" url="{:U('App/adsblock_edit_status',array('method'=>'delete'))}" target-form="ids">删 除</button>
   </div>
  </div>
  <div class="data-table table-striped">
   <table class="">
    <thead>
     <tr>
      <th class="row-selected row-selected"><input class="check-all" type="checkbox" /></th>
      <th class="">ID</th>
      <th class="">板块名称</th>
      <th class="">板块介绍</th>
      <th class="">等级要求</th>
      <th class="">广告时间</th>
      <th class="">板块图标</th>
      <th class="">添加时间</th>
      <th class="">状态</th>
      <th class="">操作</th>
     </tr>
    </thead>
    <tbody>
     <notempty name="list"> <volist name="list" id="vo">
      <tr>
       <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
       <td>{$vo.id}</td>
       <td>{$vo.name}</td>
       <td>{$vo.content}</td>
       <td><span style="color: #1abc9c;">{$rankMap[$vo['rank']]}</span> 以上</td>
       <td><span style="color: #1abc9c;">{$vo.remain}</span> s</td>
       <td><img src="{$vo.img}" width="60"  style="margin-bottom: 20px;"></td>
       <td>{$vo.addtime|addtime}</td>
       <td><eq name="vo.status" value="1">可用<else/>禁用</eq></td>
       <td>
        <a href="{:U('App/ads_list?block_id='.$vo['id'])}" class="btn btn-primary btn-xs">旗下广告</a>
        <a href="{:U('App/adsblock_edit?id='.$vo['id'])}" class="btn btn-primary btn-xs">编辑</a>
      </tr>
     </volist> <else />
     <td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
     </notempty>
    </tbody>
   </table>
   <div class="page">
    <div>{$page}</div>
   </div>
  </div>
 </div>
</div>
<script type="text/javascript">
	//主导航高亮
//	$('.Appads-box').addClass('current');
//	//边导航高亮
//	$('.Appads-index').addClass('current');
</script>
<!-- /内容区 -->
<include file="Public:footer" />