@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
/* line 8, /web/project/demo/static/demo/css/main.scss */
html {
  background-color: whitesmoke; }

/* fonts */
/* line 13, /web/project/demo/static/demo/css/main.scss */
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

/* body image styles - classes supplied by rich text editor */
/* line 19, /web/project/demo/static/demo/css/main.scss */
.body-content {
  width: 100%;
  overflow: hidden;
  clear: both;
  margin-bottom: 1em; }
  /* line 24, /web/project/demo/static/demo/css/main.scss */
  .body-content img {
    margin-bottom: 2%;
    margin-top: 2%; }
  /* line 29, /web/project/demo/static/demo/css/main.scss */
  .body-content img.full-width {
    width: 100%; }
  /* line 33, /web/project/demo/static/demo/css/main.scss */
  .body-content img.left {
    width: 45%;
    margin-right: 5%;
    float: left; }
  /* line 39, /web/project/demo/static/demo/css/main.scss */
  .body-content img.right {
    width: 45%;
    margin-left: 5%;
    float: right; }
  /* line 45, /web/project/demo/static/demo/css/main.scss */
  .body-content h1, .body-content h2, .body-content h3, .body-content h4, .body-content h5 {
    clear: both; }

/* line 51, /web/project/demo/static/demo/css/main.scss */
.img-wrapper {
  margin-bottom: 1em;
  position: relative; }
  /* line 55, /web/project/demo/static/demo/css/main.scss */
  .img-wrapper img {
    display: block;
    width: 100%;
    margin-bottom: 0; }
  /* line 61, /web/project/demo/static/demo/css/main.scss */
  .img-wrapper.left {
    float: left;
    width: 45%;
    margin-right: 5%; }
  /* line 66, /web/project/demo/static/demo/css/main.scss */
  .img-wrapper.right {
    float: right;
    width: 45%;
    margin-left: 5%; }

/* line 73, /web/project/demo/static/demo/css/main.scss */
.intro {
  font-size: 1.4em; }

/* line 77, /web/project/demo/static/demo/css/main.scss */
.caption {
  padding: 0.2em 1em 0.2em 0.5em;
  margin: 0;
  font-weight: 400;
  background: #F2f2f2;
  font-style: italic;
  display: inline-block;
  z-index: 2;
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 0.9em;
  max-width: calc(100% - 10px); }
  /* line 91, /web/project/demo/static/demo/css/main.scss */
  .caption p {
    margin: 0 !important; }

/* line 96, /web/project/demo/static/demo/css/main.scss */
blockquote {
  margin: 2em 0; }
  /* line 99, /web/project/demo/static/demo/css/main.scss */
  blockquote span {
    display: block;
    color: #AAA;
    font-size: 0.8em; }

/* List styling - tweaks to include images */
/* line 109, /web/project/demo/static/demo/css/main.scss */
a.list-group-item {
  clear: both;
  width: 100%;
  overflow: hidden; }
  /* line 113, /web/project/demo/static/demo/css/main.scss */
  a.list-group-item .list-group-item-text {
    margin-top: 1%; }
    /* line 115, /web/project/demo/static/demo/css/main.scss */
    a.list-group-item .list-group-item-text img {
      float: left;
      margin-right: 2%;
      margin-bottom: 1%; }

/* Style pager */
/* line 124, /web/project/demo/static/demo/css/main.scss */
.col-sm-4.pages {
  text-align: center; }

/* line 128, /web/project/demo/static/demo/css/main.scss */
.col-sm-4.next {
  text-align: right; }

/* line 132, /web/project/demo/static/demo/css/main.scss */
.main {
  padding-top: 66px;
  min-height: 700px; }

/* line 137, /web/project/demo/static/demo/css/main.scss */
.carousel {
  margin-bottom: 15px; }
  /* line 139, /web/project/demo/static/demo/css/main.scss */
  .carousel .carousel-caption {
    background-color: rgba(0, 127, 127, 0.6);
    padding-top: 0; }
    /* line 142, /web/project/demo/static/demo/css/main.scss */
    .carousel .carousel-caption .btn {
      margin-bottom: 10px; }

/* line 148, /web/project/demo/static/demo/css/main.scss */
p {
  text-align: justify; }
  /* line 151, /web/project/demo/static/demo/css/main.scss */
  p:last-child {
    margin-bottom: 0; }

/* line 156, /web/project/demo/static/demo/css/main.scss */
.advert-list {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 15px 0;
  background-color: whitesmoke;
  border-top: 1px solid #b5b5b5; }
