<include file="Public:header" />
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">聊天列表</span>
		</div>

		<div class="cf">
			<div class="fl">
				<button class="btn ajax-post confirm" url="{:U('Chat/status',array('method'=>'delete'))}" target-form="ids">删 除</button>    
			</div>
			<div class="search-form fr cf">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1" action="{:U('Chat/index')}">
						<input type="text" name="name" class="search-input" value="{$Think.get.name}" placeholder="请输入聊天内容">
						<a class="sch-btn" href="javascript:;" id="search"><i class="btn-search"></i></a>
					</form>
					<script>
						//搜索功能
						$(function() {
							$('#search').click(function() {
								$('#formSearch').submit();
							});
						});
						//回车搜索
						$(".search-input").keyup(function(e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<table class="">
				<thead>
					<tr>
						<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
						<th class="">ID</th>
						<th class="">用户名</th>
						<th class="">内容</th>			
						<th class="">时间</th>						
						<th class="">操作</th>
					</tr>
				</thead>
				<tbody>
					<notempty name="list">
					<volist name="list" id="vo">
					<tr>
						<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
						<td>{$vo.id}</td>
						<td>{$vo['username']}</td>
						<td>{$vo['content']}</td>
						<td>{$vo.addtime|addtime}</td>					
						<td><a href="{:U('Chat/status?method=delete&id='.$vo['id'])}" class="confirm ajax-get btn btn-danger btn-xs">删除</a></td>
					</tr>
					</volist>
					<else />
					<td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
					</notempty>
				</tbody>
			</table>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
//主导航高亮
$('.Chat-box').addClass('current');
//边导航高亮
$('.Chat-chat').addClass('current');
</script>
<!-- /内容区 -->
<include file="Public:footer" />