<div class="page-header"><h3>Contact</h3></div>
<div class="row">
    <dl>
        <div class="col-sm-4">
            {% if contact.address_1 %}
                <dt>Address 1</dt>
                <dd>{{ contact.address_1 }}</dd>
            {% endif %}

            {% if contact.address_2 %}
                <dt>Address 2</dt>
                <dd>{{ contact.address_2 }}</dd>
            {% endif %}

            {% if contact.city %}
                <dt>City</dt>
                <dd>{{ contact.city }}</dd>
            {% endif %}

            {% if contact.country %}
                <dt>Country</dt>
                <dd>{{ contact.country }}</dd>
            {% endif %}

            {% if contact.post_code %}
                <dt>Post code</dt>
                <dd>{{ contact.post_code }}</dd>
            {% endif %}
        </div>
        <div class="col-sm-4">
            {% if contact.telephone %}
                <dt>Telephone</dt>
                <dd>{{ contact.telephone }}</dd>
            {% endif %}

            {% if contact.email %}
                <dt>Email</dt>
                <dd>{{ contact.email }}</dd>
            {% endif %}
        </div>
        <div class="col-sm-4">
        </div>
    </dl>
</div>