{% if related_links %}
    <div class="page-header"></div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Related links</h3>
                </div>
                <div class="panel-body">
                    <ul>
                    {% for related_link in related_links %}
                        <li><a href="{{ related_link.link }}">{{ related_link.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endif %}
