<div class="left-nav-bar" id="left-nav-bar">
	<div class="left-nav-slider">
		<dl class="nav-tab-list">
			<dt>
				<a href="/Finance/index.html"><i class="fa fa-support mr10"></i>财务中心</a>
			</dt>
			<dt class="nav-tab-hover hover1"></dt>
			<dd class="finan_index">
				<a href="/Finance/index.html"> <i class="fa fa-tasks fa-lg fa-fw mr5"></i> 我的财产 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="finan_pay">
				<a href="/Finance/mycz.html"> <i class="fa fa-mail-forward fa-lg fa-fw mr5"></i> 账户充值 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="finan_out">
				<a href="/Finance/mytx.html"> <i class="fa fa-mail-reply fa-lg fa-fw mr5"></i> 账户提现 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="finan_coinin">
				<a href="/Finance/myzr.html"> <i class="fa fa-arrow-right fa-lg fa-fw mr5"></i> 转入数字资产 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="finan_coinout">
				<a href="/Finance/myzc.html"> <i class="fa fa-arrow-left fa-lg fa-fw mr5"></i> 转出数字资产 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>

		<!-- 	<dd class="finan_invit">
				<a href="/Finance/mytj.html"> <i class="fa fa-users fa-lg fa-fw mr5"></i> 邀请朋友 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="finan_invitlog">
				<a href="/Finance/mywd.html"> <i class="fa fa-credit-card fa-lg fa-fw mr5"></i> 我的推荐 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			<dd class="finan_award">
				<a href="/Finance/myjp.html"> <i class="fa fa-archive fa-lg fa-fw mr5"></i> 我的奖励 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			
			<dd class="finan_fenhong">
				<a href="/Finance/fhindex.html"> <i class="fa fa-dollar fa-lg fa-fw mr5"></i> 分红中心 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			
			<dd class="finan_myfh">
				<a href="/Finance/myfhroebx.html"> <i class="fa fa-cny fa-lg fa-fw mr5"></i> 我的分红 <i class="fa fa-angle-right fa-lg right mr10 mt17"></i> </a>
			</dd>
			 -->
			
		</dl>
	</div>
</div>