<include file="Public:header" />
		
<div class="autobox ">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i><a href="/" class="movesay">首页</a> &gt; <a href="/finan/index.html" class="movesay">财务中心 </a> &gt; 我的奖励	</div>
	<div class="main-content">
		<style>
	.nav-tab-list .nav-tab-hover{
		width:100%;
		top:60px;
		height:50px;
		line-height:50px;
		background:#EAEDF4;
		position:absolute;
		box-sizing:content-box;
		z-index:1;
		transition:all 0.5s;
		-webkit-transition:all 0.5s;
		display:none;
	}
</style>
<script type="text/javascript">
	$(function () {
		(function () {
			var tab   = $('.nav-tab-list dd');
			var hover = $('.nav-tab-hover');
			var pos   = 0;
			tab.each(function (index) {
				var $this = $(this);
				if ($this.hasClass('active')) {
					pos = index;
				}
				$this.hover(function () {
					_moveTo(index);
				}, function () {
					_moveTo(pos);
				});
			});
			_moveTo(pos);
			$('.nav-tab-hover').show();
			function _moveTo(index) {
				hover.css("top", 60 + 50 * index);
				tab.removeClass('active');
				tab.eq(index).addClass('active');
			}
		})();
	});
	$(window).on('scroll resize', function () {
		if (document.body.scrollTop < 100) {
			$('#left-nav-bar').css("top", 0);
		} else if (document.body.scrollTop > ($('.tag-list-content').height() - $('#left-nav-bar').height() + 100)) {
			$('#left-nav-bar').css("top", ($('.tag-list-content').height() - $('#left-nav-bar').height()));
		} else {
			$('#left-nav-bar').css("top", document.body.scrollTop - 100);
		}
	});
</script>


<include file="Finance:left" />



		<div class="tag-list-content">
			<div class="assets_content bg_w">
				<div class="safe_center clear ">
					<h1>我的奖励  <a class="right" onclick="$('#hints').slideToggle();"> <i class="fa fa-hand-o-right move fz_14 mr5"></i> <span class="fz_12 move">查看介绍</span> </a> 					</h1>
				</div>
				<div id="hints" class="mytips" style="display:none;">
					
					<p>
					<notempty name="prompt_text">
					{$prompt_text}
					</notempty>
					
					</p>				</div>
				<div class="mytable-body ">
					<div class="f_body  step2">
						<table class="f_table" id="investLog_content">
							<thead>
							<tr>
								<th>下家用户名</th>
								<th>奖励类型</th>
								<th>奖励说明</th>
								<th>操作时间</th>
								<th>操作数量</th>
								<th>奖励数量</th>
								<th>奖励状态</th>
							</tr>
							</thead>
							<tbody>
														
								 <volist name="list" id="vo">
								 <tr>
								  <td>{$vo.invit|substr_replace='****',3,4}</td>
								  <td>{$vo.type}</td>
								  <td>{$vo.name}</td>
								  <td>{$vo.addtime|addtime}</td>
								  <td>{$vo['num']|NumToStr}</td>
								  <td>{$vo['fee']|NumToStr}</td>
								  <td><eq name="vo.status" value="0"> <font class="sell">未到账 </font></eq> <eq name="vo.status" value="1"> <font class="buy">已到账 </font></eq></td>
								 </tr>
								 </volist>					
								
							</tbody>
						</table>
						<div class="pages">{$page}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>






<script>
	var hints = "0";
	if(hints == 1){
		$('#hints').show();
	}
	$('#finance_box').addClass('active');
	$('.finan_award').addClass('active');
</script>	
	
<include file="Public:footer" />