<include file="Public:header" />
		
<div class="autobox ">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i><a href="/" class="movesay">首页</a> &gt; <a href="/finan/index.html" class="movesay">财务中心 </a> &gt; 转入虚拟币	</div>
	<div class="main-content">
		<style>
	.nav-tab-list .nav-tab-hover{
		width:100%;
		top:60px;
		height:50px;
		line-height:50px;
		background:#EAEDF4;
		position:absolute;
		box-sizing:content-box;
		z-index:1;
		transition:all 0.5s;
		-webkit-transition:all 0.5s;
		display:none;
	}
</style>
<script type="text/javascript">
	$(function () {
		(function () {
			var tab   = $('.nav-tab-list dd');
			var hover = $('.nav-tab-hover');
			var pos   = 0;
			tab.each(function (index) {
				var $this = $(this);
				if ($this.hasClass('active')) {
					pos = index;
				}
				$this.hover(function () {
					_moveTo(index);
				}, function () {
					_moveTo(pos);
				});
			});
			_moveTo(pos);
			$('.nav-tab-hover').show();
			function _moveTo(index) {
				hover.css("top", 60 + 50 * index);
				tab.removeClass('active');
				tab.eq(index).addClass('active');
			}
		})();
	});
	$(window).on('scroll resize', function () {
		if (document.body.scrollTop < 100) {
			$('#left-nav-bar').css("top", 0);
		} else if (document.body.scrollTop > ($('.tag-list-content').height() - $('#left-nav-bar').height() + 100)) {
			$('#left-nav-bar').css("top", ($('.tag-list-content').height() - $('#left-nav-bar').height()));
		} else {
			$('#left-nav-bar').css("top", document.body.scrollTop - 100);
		}
	});
</script>


<include file="Finance:left" />




		<div class="tag-list-content assets_content bg_w">
			<div class="safe_center clear">
				<h1>
					<span>
						转入数字资产					</span>
					<span>
												<a class="right" onclick="$('#hints').slideToggle();"><i class="fa fa-hand-o-right move fz_14 mr5"></i><span class="fz_12 move">查看介绍</span></a>
											</span>
				</h1>
			</div>
			<div id="hints" class="mytips" style="display:none;">
				<p>
				
				<notempty name="prompt_text">
					{$prompt_text}
				</notempty>
				
				</p>			
			</div>
			
			
			
			
			<div class="mytable-body">
				<div class="step1 cny_record">
					<div class="weituo_bizhong">
						<div class="bizhong_select">
							<div class="bz_btn">
								<img src="__UPLOAD__/coin/{$coin_list[$xnb]['img']}" alt="" style=" width: 22px;float: left;margin-top: 7px;margin-right: 5px;"/>
								<span id="coin-default">
									<select name="type" id="coin-select" style="margin-top: 6px;">
										<volist name="coin_list" id="vo">
											<eq name="xnb" value="$key">
												<option value="{$vo['name']}" selected="selected">{$vo.title} ({$vo['name']|strtoupper})</option>
											<else/>
												<option value="{$vo['name']}">{$vo.title} ({$vo['name']|strtoupper})</option>
											</eq>
										</volist>
									</select>
								</span>
							</div>
						</div>
						<div class="bizhong_type" style="width: 220px;">
							<span>当前数字资产数量<em class="coin-name"></em>：<font class="coin-balance">{$user_coin[$xnb]|Num}</font></span>
						</div>
					</div>
					<br>
					
					
					<eq name="qq3479015851_opencoin" value="1">
						<div class="cnyin_record">
							<div class="adr-zhuanru" style="position: relative;z-index:0;">
								<div id="pt-qrcode" style="position:absolute;top:0;right:0;display: inline-block;;">
									<div id="qrcode-wallet" style="display: inline-block;">
										<saon id="codeaa"></saon>
									</div>
									<p id="qrcode-t" style="font-size:13px;text-align: center;">{$coin_list[$xnb]['title']}钱包地址</p>
								</div>
								<div class="qb_tishi">
									这是您的钱包地址，请将您的 <b class="coin-name">{$coin_list[$xnb]['title']}</b>转入此地址： 
									<notempty name="coin_list[$xnb]['zr_zs']">
										<span id="zengsong" style="color: red; font-size: 14px;">转入即赠{$coin_list[$xnb]['zr_zs']}%</span>
									</notempty>
								</div>
								<div class="qb_dizhi ts mb20">
									<p id="wallets">
										{$qianbao}
									</p>
								</div>
							</div>
						</div>
					<else/>

						<div class="pwtrade  pw  mt50">
								<dl>
									<dt>你的转入地址：</dt>
									<dd>
										<span name="address">
											<!-- {$qianbao} -->
											{$user_coin[$cz_addr]}
										</span>
									</dd>
								</dl>
								
								
							<!-- 	<dl>
									<dt>地址标志：</dt>
									<dd style="position: relative;">
										<input type="text" class="texts" id="qq3479015851_dzbz" maxlength="100" value="">
										(*标志从哪个地址转入)						
									</dd>
								</dl> -->
								
								
								
								<!-- <dl>
									<dt>转入数量：</dt>
									<dd style="position: relative;">
										<input type="text" class="texts" id="cny_num" maxlength="12" value="">
																
																</dd>
								</dl> -->
								<!-- <dl class="step5">
									<dt>短信验证码：</dt>
									<dd class="yuyin">
										<div class="clear">
																			<input type="button" value="发送短信验证码" class="btns" onclick="send_moble_coinout('sms')" style="width: 100px;font-size: 12px;"/>
																											{$moble}(接收验证码)
										</div>
									</dd>
								</dl> -->
								<!-- <dl class="step6" style="display:none;">
									<dt>短信验证码：</dt>
									<dd>
										<input type="text" id="cny_moble_verify" value="" class="texts" placeholder="请输入短信验证码"/> <span id="reg_moble_new"></span>
									</dd>
								</dl> -->
								<!-- <dl>
									<dt>交易密码：</dt>
									<dd>
										<input type="password" class="texts" id="cny_paypassword"  value=""><a href="/findpwd/findpwd" class="move ml5">忘记?</a>
									</dd>
								</dl> -->
								<dl>
									<dt></dt>
									<dd>

										<empty name="zc_jz">
											<input type="button" class="btns2" value="申请充值地址" onclick="coin_cz_address()">
										<!-- <empty name="zc_jz">
											<input type="button" class="btns2" value="立即转入" onclick="coinin_up()"> -->
										<else/>
											<input type="button" class="btns2" value="{$zr_jz}" disabled>
										</empty>
									</dd>
								</dl>
						</div>

					
					</eq>
					
					
					
				</div>
				
				
				
				
				
				
				
				<!-- <div class="step2 f_body">
					
					<eq name="qq3479015851_opencoin" value="1">
					<table class="f_table" id="investLog_content">
						<thead>
						<tr>
							<th>转入时间</th>
							<th>转入币种</th>
							<th>转入数量</th>
							<th>转入赠送</th>
							<th>到账数量</th>
							<th>状态</th>
						</tr>
						</thead>
						<tbody>
						
                        <volist name="list" id="vo">
                            <tr>
                                <td>{$vo.addtime|addtime}</td>
                                <td>{$vo.coinname}</td>
                                <td>{$vo['num']|NumToStr}</td>
                                <td>{$vo['fee']|NumToStr}</td>
                                <td>{$vo['mum']|NumToStr}</td>
                                <td>
                                    <eq name="vo.status" value="1">
                                        <font color="#23a800">转入成功 </font>
                                        <else/>
                                        <font color="red">等待处理,还需要{$vo.status|abs}个确认</font>
                                    </eq>
                                </td>
                            </tr>
                        </volist>
						
						
						</tbody>
					</table>
					<else/>
					
					<table class="f_table" id="investLog_content">
						<thead>
						<tr>
							<th>转入时间</th>
							<th>地址标志</th>
							<th>转入币种</th>
							<th>转入数量</th>
							<th>到账数量</th>
							<th>状态</th>
						</tr>
						</thead>
						<tbody>
						
                        <volist name="list" id="vo">
                            <tr>
                                <td>{$vo.addtime|addtime}</td>
								<td>{$vo['txid']}</td>
                                <td>{$vo.coinname}</td>
                                <td>{$vo['num']|NumToStr}</td>
                                <td>{$vo['mum']|NumToStr}</td>
                                <td>
                                    <eq name="vo.status" value="1">
                                        <font color="#23a800">转入成功 </font>
                                        <else/>
                                        <font color="red">等待处理</font>
                                    </eq>
                                </td>
                            </tr>
                        </volist>
						
						
						</tbody>
					</table>
					
					
					
					</eq>
					
					
					<div class="pages"></div>
				</div> -->
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/comfile/js/jquery.qrcode.min.js"></script>
<script type="text/javascript">
		$('#codeaa').qrcode({
		render: "table", //table方式
		width: 100, //宽度
		height: 100, //高度
		text: "{$qianbao}" //任意内容
	});
	</script>
<script>

	$("#coin-select").change(function () {
		var coin        = $("#coin-select option:selected").val();
		window.location = '/Finance/myzr/coin/' + coin + '.html';
	});
	
	
	
	function send_new() {
		$(".step6").hide();
		$(".step5").show();
	}
	function send_moble_coinout(type) {
		$.post("{:U('Verify/myzr')}", {
			type: type,
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				$(".step5").hide();
				$(".step6").show();
				$("#cnyout_moble_verify").focus();
				$('#moble_new').attr("disabled", "disabled");
				var obj      = $('#reg_moble_new');
				var wait     = 60;
				var interval = setInterval(function () {
					obj.html(wait + "秒可再次发送");
					wait--;
					if (wait < 0) {
						clearInterval(interval);
						$(".reloadverify_new").click();
						$("#verify_new").val('');
						obj.html('<a class="move" onclick="send_new()">没有收到？重新发送</a>');
					}
					;
				}, 1000);
			} else {
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
	



	//apply for cz_address
	function coin_cz_address(){
		var coin = $('#coin-select option:selected').val().trim();
		$.post("{:U('Finance/apply_cz_addr')}", {
							coin:coin,
						}, function (data) {
							if (data.status == 1) {
								$('span[name="address"]').empty();
								$('span[name="address"]').html(data.address);
							} else {
								 // window.location = "/finan/coinoutlog.html";
							}
						}, "json");

	}
	
	
	
	function coinin_up() {
		var num          = $("#cny_num").val();
		var paypassword  = $("#cny_paypassword").val();
		var moble_verify = $("#cny_moble_verify").val();
		var qq3479015851_dzbz = $("#qq3479015851_dzbz").val();
		var coin         = $('#coin-select option:selected').val();
		if (moble_verify == "" || moble_verify == null) {
			layer.msg('请输入短信验证码', {
				icon: 2
			});
			return false;
		}
		if (num == "" || num == null) {
			layer.tips('请输入转出数量', '#cnyout_num', {
				tips: 2
			});
			return false;
		}

		if (paypassword == "" || paypassword == null) {
			layer.tips('请输入交易密码', '#cnyout_paypassword', {
				tips: 2
			});
			return false;
		}
		if (coin == "" || coin == null) {
			layer.tips('请选择币种', '#coin-select', {
				tips: 2
			});
			return false;
		}
		var goole ="0";
		if(goole == 1){
			layer.config({
				extend: 'extend/layer.ext.js'
			});
			layer.ready(function () {
				layer.prompt({
					title: '输入谷歌验证码，并确认',
					formType: 1
				}, function (val) {
					if (val) {
						$.post("/finan/coinout_up", {
							coin:coin,
							num: num,
							paypassword: paypassword,
							moble_verify: moble_verify,
							bank: bank,
							goole:val,
						}, function (data) {
							if (data.status == 1) {
								layer.msg(data.info, {
									icon: 1
								});
								window.location = "/finan/coinoutlog.html";
							} else {
								layer.msg(data.info, {
									icon: 2
								});
								if (data.url) {
									window.location = data.url;
								}
							}
						}, "json");
					}
					;
				});
			});
		}else{
			$.post("{:U('Finance/upmyzr')}", {
				coin:coin,
				num: num,
				paypassword: paypassword,
				moble_verify: moble_verify,
				qq3479015851_dzbz:qq3479015851_dzbz,
			}, function (data) {
				if (data.status == 1) {
					layer.msg(data.info, {
						icon: 1
					});
					window.location = "/finance/myzr.html";
				} else {
					layer.msg(data.info, {
						icon: 2
					});
					if (data.url) {
						window.location = data.url;
					}
				}
			}, "json");
		}
	}
	
	
	
	
	
	
	
	
	
	
	
</script>



<script>
	var hints = "0";
	if(hints == 1){
		$('#hints').show();
	}
	$('#finance_box').addClass('active');
	$('.finan_coinin').addClass('active');
</script>	
	
<include file="Public:footer" />