<include file="Public:header" />

<link rel="stylesheet" href="/comfile/css/article.css"/>


<div class="autobox">
    <div class="now">
        <i class="fa fa-home fa-lg move mr5"></i><a href="/" class="">首页</a> &gt;
        <a href="#" class=""> 升级及修复问题记录。程序定制开发,钱包对接服务请联系<font color="#ff0000">QQ3479015851</font></a>   
	</div>
    <div class="assets_center clear po_re ">

        <div style="width:1200px;" class="assets_content right bg_w mh1500">
            <ul style="margin-left:50px;">
				<li>2017-05-26</li>
				<li style="margin-left:20px;">
					1.修复PC端银行卡添加验证错误。<br/>
					2.修复PC端未实名认证登录后的跳转错误页面。<br/>
					3.修复PC端首页粒子移出的问题。<br/>
					4.后台增加配置在线客户功能。<br/>
					5.修复验证交易密码设置无效功能<br/>
					6.<font color="#ff0000">演示站正式对接莱特币钱包</font>
				</li>
				
				
				<li>2017-05-10</li>
				<li style="margin-left:20px;">
					电脑端全新改版，增加手机端。
				</li>
				
				
			</li>
        </div>
		
    </div>
</div>




<include file="Public:footer" />