<include file="Public:header"/>
<style>
    /* CSS Document */
    a:hover {
        color: #fff;
    }
    #my_licai:hover {
        color: #F78437;
    }
    /*invest common*/
    .title {
        height: 20px;
        line-height: 20px;
    }
    .title h2 {
        font-weight: normal;
        color: #121212;
        border-left: 5px #f60 solid;
        padding-left: 10px;
    }
    .title.icontitle h2 {
        border-left: none;
        padding-left: 0;
    }
    .title.icontitle .iconfont {
        font-size: 30px;
    }
    .title .more:hover {
        color: #f60;
    }
    .tendbacking {

        width: 130px;
        height: 97px;
        position: absolute;
        z-index: 9;
        right: 20px;
        bottom: -20px;
    }
    .tenddone {

        width: 130px;
        height: 97px;
        position: absolute;
        z-index: 9;
        right: 20px;
        bottom: -20px;
    }
    .page_title {
        height: 30px;
        line-height: 30px;
    }
    .select_wrap {
        background: #fff;
        padding: 0 20px;
        overflow: hidden;
    }
    .select_list dl {
        padding: 20px 0;
        border-bottom: 1px #e9e9e9 solid;
    }
    .select_list dl dt {
        color: #999;
        margin-right: 20px;
    }
    .select_list dd {
        margin: 0 5px;
        float: left;
    }
    .select_list dd.first {
        width: 60px;
    }
    .select_list dd a {
        color: #333;
    }
    .select_list a:hover, .select_list a.on {
        color: #f60;
    }
    .faq_list {
        width: 400px;
        height: 146px;
        position: relative;
    }
    .faq_list ul {
        padding-left: 20px;
        border-left: 1px #dedede solid;
    }
    .faq_list ul li {
        height: 15px;
        line-height: 15px;
        margin-bottom: 17.75px;
    }
    .faq_list ul li a {
        color: #999;
    }
    .faq_list ul li a:hover {
        color: #fff;
    }
    .faq_more_bg {
        width: 0px;
        height: 0px;
        position: absolute;
        right: 0px;
        top: -20px;
        display: block;
        border-top: 65px solid #f90;
        border-left: 65px solid transparent;
    }
    .faq_more {
        position: absolute;
        display: block;
        right: 7px;
        top: -15px;
    }
    .item_info {
        width: 726px;
        overflow: hidden;
    }
    .item {
        background: #fff;
        overflow: hidden;
        margin-bottom: 20px;
    }
    .item.car {
        border-left: 4px #fca352 solid;
        position: relative;
        background: #ffffff;
        box-shadow: 1px 1px 1px 3px #dedede;
        overflow: hidden;
        margin-bottom: 20px;
        clear: both;
    }
    .item .mark {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #fca352;
        border-radius: 30px;
    }
    #pro_num li {
        width: 150px;
        float: left;
        border-left: 1px #dedede dotted;
        height: 47px;
    }
    #pro_num li.first {
        border: none;
        width: 180px;
    }
    .pro_bar_btm {
        width: 324px;
        padding-left: 50px;
        margin-right: 25px;
        border-left: 1px #dedede solid;
        height: 88px;
        position: relative;
    }
    .pro-bar {
        border-bottom: 1px #dedede solid;
    }
    .process-bar {
        width: 185px;
    }
    .pro_bar_btm a.ui-btm {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    #detail {
        background: none;
    }
    #detail .item_info {
        width: 800px;
        height: 255px;
        overflow: hidden;
        background: #fff;
    }
    .item#detail {
        height: auto;
    }
    #detail .pro_bar_btm {
        width: 315px;
        height: 255px;
        background: #fff;
        padding: 20px 30px 30px 30px;
        margin-right: 0px;
        border: none;
        overflow: hidden;
    }
    #detail #pro_num {
        padding-bottom: 40px;
    }
    #detail .pro_bar_btm a.ui-btm {
        position: relative;
    }
    .i_i_bar li {
        float: left;
        width: 150px;
        text-align: center;
        line-height: 50px;
        background: #ccc;
        margin-right: 10px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
    .i_i_bar li.on {
        background: #fff;
        color: #f60;
        border-top: 2px #f90 solid;
        line-height: 48px;
    }
    .r_i_info p {
        line-height: 28px;
    }
    .r_i_info table td {
        height: 30px;
    }
    .r_i_info table td .spec {
        background: #f90;
        color: #fff;
        padding: 2px 10px 3px 10px;
        border-radius: 3px;

    }
    .check li {
        float: left;
        width: 60px;
        height: 72px;
        text-align: center;
        position: relative;
        border-radius: 10px 0px 0px;
        border: 1px #f90 solid;
        color: #f90;
        margin-right: 14px;
        margin-bottom: 20px;
    }
    .check li .checkicon {
        font-size: 35px;
        height: 40px;
        margin-top: 5px;
    }
    .check li p {
        line-height: 20px;
        color: #121212;
    }
    .check li .true {
        position: absolute;
        font-size: 18px;
        bottom: -8px;
        right: -8px;
        color: #f90;
    }
    .law p {
        text-indent: 2em;
        width: 225px;
        line-height: 24px;
    }
    .basepic .arrow {
        color: #ccc;
        font-size: 40px;
        display: block;
        width: 40px;
        height: 137px;
        line-height: 137px;
    }
    .basepic .arrow:active {
        color: #f60;
    }
    .basepic .bd li {
        border: 5px #f1f1f1 solid;
        width: 170px;
        height: 127px;
        text-align: center;
        margin: 0px 12px;
        float: left;
    }
    .basepic .bd li:hover {
        border: 5px #dedede solid;
    }
    .basepic .bd li a {
        display: block;
        width: 100%;
        height: 100%;
    }
    .record tr.hide {
        display: none;
    }
    .record th {
        background: #f1f1f1;
        height: 40px;
        font-size: 14px;
    }
    .record td {
        text-align: center;
        height: 36px;
        font-size: 13px;
        border-bottom: 1px #dedede dashed;
    }
    /* CSS Document */
    body {
        background: #f4f4f4;
    }
    .iconfont {
        font-family: "iconfont";
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        -webkit-text-stroke-width: 0.2px;
    }
    /* 顶部bar */
    .topbar {
        height: 40px;
        line-height: 40px;
        background: #333;
        color: #b0b0b0;
        font-size: 13px;
    }
    .topbar a {
        color: #b0b0b0;
    }
    .topbar a:hover {
        color: #fff;
        text-decoration: none;
    }
    .top_bar_menu dd a {
        display: block;
        height: 30px;
        line-height: 30px;
    }
    .top_bar_menu dd a:hover {
        background: #f1f1f1;
    }
    .head .logo {
        margin-top: 22px;
    }
    .footer-links li {
        border-right: 1px #ccc solid;
        height: 16px;
        line-height: 16px;
        float: left;
    }
    .footer-links li.last {
        border: none;
    }
    .footer-links li a {
        color: #565656;
    }
    .footer-links li a:hover {
        color: #fff;
    }
    .f_i_l .tel {
        font-size: 90px;
    }
    .f_i_m .links li {
        float: left;
        width: 66px;
        padding: 0 50px;
        height: 35px;
    }
    .f_i_m .links li a {
        font-size: 14px;
        color: #787878;
    }
    .f_i_m .links li a:hover {
        color: #fff;
    }
    .footer-info-p li {
        color: #999;
        line-height: 20px;
    }
    .safe-logo li {
        float: left;
        margin-right: 10px;
    }
    .safe-logo li img {
        height: 35px;
        width: auto;
    }
    /*投资列表公共样式*/
    .process-bar {
        height: 4px;
        width: 185px;
        border-radius: 4px;
        background: #dbdbdb;
        position: relative;

    }
    .process-bar-hover {
        background: #f90;
        height: 4px;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;

    }
    /*按钮控件*/
    .ui-btm {
        height: 36px;
        line-height: 36px;
        border-radius: 3px;
        overflow: hidden;
        display: inline-block;
        text-align: center;
        transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
    }
    .ui-btm-w120 {
        width: 114px;
    }
    .ui-btm.ui-btm-f60 {
        background: #f60
    }
    .ui-btm.ui-btm-f60:hover {
        background: #f30;
    }
    .ui-btm.ui-btm-green {
        background: #0C0;
    }
    .ui-btm.ui-btm-green:hover {
        background: #00d900;
    }
    .ui-btm.ui-btm-ccc {
        background: #ccc
    }
    .page span, .page a {
        padding: 8px 12px 8px 12px;
        font-family: "微软雅黑";
        background: #f90;
        margin-left: 15px;
        color: #fff;
    }
    .page span.on {
        background: #f90;
        color: #fff;
    }
    .page a {
        color: #121212;
        background: #dedede;
        margin-left: 15px;
    }
    .page a:hover {
        background: #f90;

    }
    .wj_link_text a {
        color: #fff;
    }
    .wj_link_text a:hover {
        color: #fff;
    }
    .wj_link_text span {
        border-bottom: 1px dotted #9b9a9a;
        display: block;
    }
    .wj_wechart_main img {
        width: 125px;
        height: 125px;
        margin: 24px 0 0 -3px;
    }
    .wj_phb_title span {
        font-size: 13px;
    }
    .rank-hd li {
        float: left;
        width: 60px;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
    }
    .rank-hd li.on {
        background: #fff;
        color: #f60;
        font-weight: bold;
        border-top: 2px #f60 solid;
        line-height: 34px;
    }
    .rank-bd li {
        height: 23px;
        font-size: 13px;
        float: left;
        line-height: 23px;
        text-align: center;
        margin-bottom: 10px;
    }
    .rank-bd li span {
        display: inline-block;
        float: left
    }
    .wj_login .text_bar input {
        width: 193px;
        padding-left: 5px;
        height: 34px;
        line-height: 34px;
        color: #565656;
        overflow: hidden;
    }
    .btm a {
        display: block;
        width: 99px;
        float: left;
        text-align: center;
        font-size: 14px;
        color: #121212;
    }
    .btm a.charge_btm {
        width: 98px;
        border-right: 1px #dedede solid;
        color: #f60;
    }
    .btm a:hover {
        color: #fff;
    }
    .account_total li {
        width: 49%;
    }
    .link_btm td {
        height: 70px;
    }
    .link_btm tr {
        border-bottom: 1px #dfdfdf solid;
    }
    .link_btm tr.tr-last {
        border-bottom: none;
    }
    .link_btm td.td-l {
        border-right: 1px #dfdfdf solid;
    }
    .link_btm td a {
        display: block;
        position: relative;
    }
    /* CSS Document */

    /*
    KISSY CSS Reset
    理念：清除和重置是紧密不可分的
    特色：1.适应中文 2.基于最新主流浏览器
    维护：玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)
    */

    /* 清除内外边距 */
    body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
    dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
    pre, /* text formatting elements 文本格式元素 */
    fieldset, button, input, textarea, /* form elements 表单元素 */
    th, td { /* table elements 表格元素 */
        margin: 0;
        padding: 0;
    }
    /* 设置默认字体 */
    body, samp,
    button, input, select, textarea { /* for ie */
        /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
        font: 12px/1 'Microsoft Yahei', tahoma, arial, "Hiragino Sans GB", \5b8b\4f53; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
    }
    h1 {
        font-size: 18px; /* 18px / 12px = 1.5 */
        font-weight: normal;
    }
    h2 {
        font-size: 16px;
        font-weight: normal;
    }
    h3 {
        font-size: 14px;
        font-weight: normal;
    }
    h4, h5, h6 {
        font-size: 100%;
        font-weight: normal;
    }
    address, cite, dfn, em, var {
        font-style: normal;
    }
    /* 将斜体扶正 */
    code, kbd, pre, tt {
        font-family: "Courier New", Courier, monospace;
    }
    /* 统一等宽字体 */
    small {
        font-size: 12px;
    }
    /* 小于 12px 的中文很难阅读，让 small 正常化 */

    /* 重置列表元素 */
    ul, ol {
        list-style: none;
    }
    abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
        border-bottom: 1px dotted;
        cursor: help;
    }
    q:before, q:after {
        content: '';
    }
    /* 重置表单元素 */
    legend {
        color: #000;
    }
    /* for ie6 */
    fieldset, img {
        border: none;
    }
    /* img 搭车：让链接里的 img 无边框 */
    /* 注：optgroup 无法扶正 */
    button, input, select, textarea {
        font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
    }
    /* 重置表格元素 */
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* 重置 hr */
    hr {
        border: none;
        height: 1px;
    }
    /* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
    html {
        overflow-y: scroll;
    }
    /* 清除浮动效果 */
    .cl:after {
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
        clear: both;
    }
    .cl {
        *zoom: 1;
    }
    /* 浮动设置 */
    .fl {
        float: left;
        display: inline-block
    }
    .fr {
        float: right;
        display: inline-block
    }
    .ml30 {
        margin-left: 30px;
    }
    .mt10 {
        margin-top: 10px;
    }
    .mt20 {
        margin-top: 20px;
    }
    .mt25 {
        margin-top: 25px;
    }
    /* 全局字体颜色设定 */
    .a12 {
        color: #121212;
    }
    .a78 {
        color: #787878;
    }
    .af60 {
        color: #f60;
    }
    .afff {
        color: #fff;
    }
    .ahf60:hover {
        color: #f60;
    }
    /* 全局字体大小 */
    .f13 {
        font-size: 13px;
    }
    .f14 {
        font-size: 14px;
    }
    .f18 {
        font-size: 18px;
    }
    .f22 {
        font-size: 22px;
    }
    .tc {
        text-align: center;
    }
</style>
<script src="__PUBLIC__/Home/js/datepicker.min.js"></script>
<div class="autobox">
    <div class="now">
        <a href="/" class="orange">首页</a> &gt;
        <a href="/game/index.html" class="orange">应用中心</a> &gt; 理财中心
    </div>
    <div class="assets_center clear po_re zin70">
        <!--左侧菜单-->
        <include file="Game:left"/>
        <!--右侧内容-->
        <div class="assets_content w900 right bg_w" style="     height: inherit;">
            <div class="safe_center clear" style="padding-left: 0px; border-bottom: 2px solid #e55600;    min-height: 0px;">
                <h1 style="margin-top: 0px; margin-bottom: 15px; line-height: 15px;">理财中心</h1>
            </div>
            <div class="sj" style="top: 40px; left: 60px;"></div>
            <notempty name="prompt_text">
                <div class="mytips">
                    <h6 style="color: #ff8000;">温馨提示</h6>
                    {$prompt_text}
                </div>
            </notempty>
            <div class="invest_wrap mt20" style="padding: 0 16px;">
                <volist name="list" id="vo">
                    <div class="item cl car " style="padding: 20px 10px;">
                        <div class="item_info fl" style="    width: 100%;">
                            <div class="item_i_t cl" style="    padding-top: 10px;">
                                <i class="iconfont afff f22 fl mark" style="background:none;    margin-top: -3px;
    margin-right: 7px;">
                                    <img src="__UPLOAD__/coin/{:C('coin')[$vo['coinname']]['img']}" style="width: 24px; ">{$vo['name']}</a>
                                </i>
                                <a href="#" class="a12 ahf60 f18"> {$vo['name']}</a>
                                <span class="af60 ml30">开启时间:{$vo['addtime']}</span>

                                    <span class="af60 ml30" style="float: right;margin-right: 30px;    line-height: 24px;">
                                           <font style="float: left;margin-right:10px;"> 理财比例:</font>
                                        <div class="process-bar fl" style=" margin-top:0px;height: 14px;width: 280px;margin-right:20px;margin-top: 5px;">
                                            <div class="process-bar-hover" style="width:{$vo['bili']}%; height: 14px;"></div>
                                        </div>
                                       <font style="margin-right:10px;"> {$vo['bili']}%</font>
                                    </span>
                            </div>
                            <ul class="mt25 cl" id="pro_num">
                                <li class="fl f13 a78 first" style="    width: 80px;    padding-left: 6px;">
                                    <p>年化利率</p>

                                    <p class="mt10">
                                        <span class="f18 af60">{$vo['fee']}</span> %
                                    </p>
                                </li>
                                <li class="fl tc f13 a78" style="width:140px;">
                                    <p>理财总量</p>

                                    <p class="mt10">
                                        <span class="f18 af60">{$vo['num']}</span>
                                    </p>
                                </li>
                                <li class="fl tc f13 a78" style="width:140px;">
                                    <p>已理财量</p>

                                    <p class="mt10">
                                        <span class="f18 a12">{$vo['deal']}</span>
                                    </p>
                                </li>
                                <li class="fl tc f13 a78" style="width:120px;">
                                    <p>理财周期</p>

                                    <p class="mt10">
                                        <span class="f18 a12">{$vo['tian']}天</span>
                                    </p>
                                </li>
                                <li class="fl tc f13 a78" style="width:120px;">
                                    <p>理财人数</p>

                                    <p class="mt10">
                                        <span class="f18 af60">{$vo['times']}</span> 人
                                    </p>
                                </li>
                                <li class="fl tc f13 a78" style="width:140px;">
                                    <p>剩余数量</p>

                                    <p class="mt10">
                                        <span class="f18 af60 ">{$vo['shen']}</span> 个
                                    </p>
                                </li>
                                <li class="fl tc f13 a78" style="width:120px;">
                                    <a class="ui-btm ui-btm-f60 ui-btm-w120 afff fr f14" href="javascript:showA('{$vo[\'id\']}','{$vo[\'name\']}','{$vo[\'coinname\']}')"> 立即理财</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </volist>
            </div>
            <div class="pages" style="margin: 10px 0 20px 0;">{$page}</div>
        </div>
    </div>
</div></div>
<br>
<div class="okcoinPop" id="withdrawCnyAddress" style="display: none;">
    <div class="dialog_content" id="dialog_content_CnyAddress" style="margin-left: -200px; margin-top: 200px; left: 50%; top: 21px;">
        <div class="dialog_title" id="dialog_title_CnyAddress">
            <span id="CnyAddressTitle">立即理财</span>
            <a href="javascript:closeAddress();" class="dialog_closed" title="关闭"></a>
        </div>
        <div class="dialog_body center">
            <div style="line-height: 35px; text-align: left; padding-left: 50px;">
                <ul class="PopLayer">
                    <input id="bazaar_id" type="hidden" value="">
                    <li>
                        <span class="c2" id="lotteryAmountSpan0">理财编号:</span>
                        <span id="money_id"></span>
                    </li>
                    <li>
                        <span class="c2" id="lotteryAmountSpan1">理财名称:</span>
                        <span id="money_name"></span>
                    </li>
                    <li>
                        <span class="c2" id="lotteryAmountSpan2">理财币种:</span>
                        <span id="money_coinname"></span>
                    </li>
                    <li>
                        <span class="c2" id="lotteryAmountSpan3">买入数量:</span>
                        <input name="name" id="money_num" type="password" class="cztxinput" style="width: 100px; padding: 2px; padding-bottom: 5px;">
                    </li>
                    <li>
                        <span class="c2" id="lotteryAmountSpan5">交易密码:</span>
                        <input name="name" id="money_paypassword" type="password" class="cztxinput" style="width: 100px; padding: 2px; padding-bottom: 5px;">
                        <a href="{:U('/Login/findpaypwd')}" class="reg_floatr">忘记?</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" onclick="Update()" class="btn" id="btn" style="">立 即 购 买</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="dialogBoxShadow" style="position: absolute; top: 0px; left: 0px; z-index: 100; background-color: rgb(0, 0, 0); opacity: 0.4; width: 100%;  display: none;"></div>
<br>
<br>
<script>
    $('#dialogBoxShadow').height($(document).height());


    function showA(id, name, coinname) {

        $("#dialogBoxShadow").show();
        $('#withdrawCnyAddress').show();

        $('#money_id').html(id);
        $('#money_name').html(name);
        $('#money_coinname').html(coinname);
    }
    function closeAddress() {
        $("#withdrawCnyAddress").hide();
        $("#dialogBoxShadow").hide();
    }

    function Update() {

        var id = $('#money_id').html();
        var num = $('#money_num').val();
        var paypassword = $('#money_paypassword').val();

        if (id == '' || id == null) {
            layer.tips('编号错误', '#money_id', {tips: 3});
            return false;
        }

        if (num == '' || num == null) {
            layer.tips('请输入数量', '#money_num', {tips: 3});
            return false;
        }

        if (paypassword == '' || paypassword == null) {
            layer.tips('请输入密码', '#money_paypassword', {tips: 3});
            return false;
        }


        $.post("/Game/money", {
            id: id,
            num: num,
            paypassword: paypassword
        }, function (data) {
            if (data.status == 1) {
                layer.msg(data.info, {icon: 1});
                window.location = "{:U('Game/money_log')}";
            } else {
                layer.msg(data.info, {icon: 2});
                if (data.url) {
                    window.location = data.url;
                }
            }
        }, 'json')

    }
</script>
<script>
    //菜单高亮
    $('#game_box').addClass('active');
    $('#game_money').addClass('active');
    $('#game_money i').attr('class', 'coin_menu_op_6');
</script>
<include file="Public:footer"/>