/* product-toolbar/1.0.1 common.css Date:2015-08-13 15:08:01 */
@charset "UTF-8";
.jdm-tbar-panel-header .close-panel, .jdm-tbar-panel-header i, .jdm-toolbar-tab .tab-ico, .jdm-toolbar-tabs .tabs-tip .ico {
	display:inline-block;
	background-image:url(http://misc.360buyimg.com/product/toolbar/1.0.1/css/i/jdm-toolbar-icons.png);
	_background-image:url(http://misc.360buyimg.com/product/toolbar/1.0.1/css/i/jdm-toolbar-icons-png8.png);
	background-repeat:no-repeat
}
.i-face-fd, .i-face-jk {
	display:inline-block;
	background-image:url(http://misc.360buyimg.com/product/toolbar/1.0.1/css/i/jdm-toolbar-face.png);
	_background-image:url(http://misc.360buyimg.com/product/toolbar/1.0.1/css/i/jdm-toolbar-face-png8.png);
	background-repeat:no-repeat
}
.i-loading {
	display:inline-block;
	width:32px;
	height:32px;
	background-image:url(http://misc.360buyimg.com/product/toolbar/1.0.1/css/i/loading.gif);
	background-repeat:no-repeat
}
.i-face-fd {
	width:113px;
	height:35px;
	background-position:0 0
}
.i-face-jk {
	width:113px;
	height:35px;
	background-position:0 -50px
}
.error-img {
	display:inline-block;
	width:144px;
	height:48px;
	background:url(http://misc.360buyimg.com/product/toolbar/1.0.1/css/i/error-img.jpg) no-repeat 50% 50%
}
.jdm-tbar-tipbox .tip-inner {
	padding:6px 5px;
	border:1px solid #edd28b;
	background:#fffdee;
	text-align:center
}
.jdm-tbar-tipbox .tip-text {
	display:inline-block;
	line-height:20px;
	vertical-align:middle;
	color:#333
}
.jdm-tbar-tipbox .tip-btn {
	display:inline-block;
	height:20px;
	line-height:20px;
	padding:0 5px;
	margin-left:5px;
	color:#fff;
	vertical-align:middle;
	background:#c81623
}
.jdm-tbar-login {
	display:none
}
.jdm-tbar-tipbox2 {
	text-align:center
}
.jdm-tbar-tipbox2 .tip-face {
	overflow:hidden
}
.jdm-tbar-tipbox2 .tip-text {
	line-height:20px
}
.jdm-tbar-tipbox2 .tip-text a {
	color:#c81623
}
.jdm-toolbar-wrap {
	position:fixed;
	_position:absolute;
	top:0;
	right:0;
	z-index:9990;
	width:0;
	height:100%
}
.jdm-toolbar-wrap a {
	text-decoration:none
}
.jdm-toolbar {
	position:absolute;
	right:0;
	top:0;
	width:0;
	height:100%;
	border-right:6px solid #7a6e6e;
-webkit-transition:right .3s ease-in-out 0s;
-moz-transition:right .3s ease-in-out 0s;
transition:right .3s ease-in-out 0s
}
.z-jdm-toolbar-open .jdm-toolbar {
	right:270px
}
.z-jdm-toolbar-open .jdm-toolbar-panels {
	_display:block
}
.jdm-toolbar-panels {
	position:absolute;
	left:6px;
	_left:6px;
	top:0;
	width:270px;
	height:100%;
	z-index:2;
	background:#eceaea;
	_display:none
}
.jdm-toolbar-panel {
	width:270px;
	height:100%;
	position:absolute;
	background:#eceaea;
	visible:hidden
}
.jdm-tbar-panel-header {
	position:relative;
	width:270px;
	height:40px;
	line-height:40px;
	background:#eceaea
}
.jdm-tbar-panel-header i {
	margin-right:4px;
	margin-left:10px;
	vertical-align:top
}
.jdm-tbar-panel-header .title {
	display:inline-block;
	height:40px;
	color:#5e5050;
	font:16px/40px "寰蒋闆呴粦"
}
.jdm-tbar-panel-header .title em {
	display:inline-block;
	vertical-align:top
}
.jdm-tbar-panel-header .close-panel {
	width:12px;
	height:12px;
	background-position:0 -250px;
	position:absolute;
	right:8px;
	top:16px;
	cursor:pointer;
-webkit-transition:transform .2s ease-out 0s;
-moz-transition:transform .2s ease-out 0s;
transition:transform .2s ease-out 0s
}
.jdm-tbar-panel-header .close-panel:hover {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg)
}
.jdm-tbar-panel-main {
	position:relative
}
.jdm-tbar-panel-content {
	width:270px;
	overflow-y:auto;
	overflow-x:hidden;
	position:relative
}
.jdm-tbar-panel-content .jdm-tbar-tipbox2 {
	width:270px;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-60px
}
.jdm-tbar-panel-content::-webkit-scrollbar {
width:5px
}
.jdm-tbar-panel-content::-webkit-scrollbar-track {
-webkit-border-radius:6px;
border-radius:6px;
background-color:transparent
}
.jdm-tbar-panel-content::-webkit-scrollbar-thumb {
-webkit-border-radius:6px;
border-radius:6px;
background:#7b6f6f
}
.jdm-toolbar-header {
	position:absolute;
	top:0;
	right:-6px
}
.jdm-toolbar-tabs {
	position:absolute;
	top:50%;
	left:-29px;
	width:35px;
	margin-top:-61px
}
.jdm-toolbar-tabs .tabs-tip {
	position:absolute;
	top:0;
	right:35px;
	height:35px;
	line-height:35px;
	white-space:nowrap;
	border-radius:5px;
	background:#c81623;
	color:#fff;
	padding:0 10px;
	padding-left:30px
}
.jdm-toolbar-tabs .tabs-tip .ico {
	width:15px;
	height:12px;
	background-position:-98px -162px;
	position:absolute;
	top:13px;
	left:10px
}
.jdm-toolbar-tabs .tabs-tip b {
	width:0;
	height:0;
	line-height:0;
	font-size:0;
	border:transparent 6px dashed;
	border-left:6px solid #c81623;
	position:absolute;
	right:-12px;
	top:12px;
	z-index:20
}
.jdm-toolbar-footer {
	position:absolute;
	bottom:-1px;
	width:100%;
	left:-29px
}
.jdm-toolbar-footer .jdm-toolbar-tab .tab-text {
	width:50px
}
.jdm-toolbar-footer .z-jdm-tbar-tab-hover .tab-text {
	left:-48px
}
.jdm-toolbar-tab {
	position:relative;
	width:35px;
	height:35px;
	margin-bottom:1px;
	cursor:pointer;
	background-color:#7a6e6e;
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px
}
.jdm-toolbar-tab .tab-ico {
	width:34px;
	height:35px;
	margin-left:1px;
	position:relative;
	z-index:2;
	background-color:#7a6e6e;
	_display:block
}
.jdm-toolbar-tab .tab-text {
	width:62px;
	height:35px;
	line-height:35px;
	color:#fff;
	text-align:center;
	font-family:"寰蒋闆呴粦";
	position:absolute;
	z-index:1;
	left:35px;
	top:0;
	background-color:#7a6e6e;
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
-webkit-transition:left .3s ease-in-out .1s;
-moz-transition:left .3s ease-in-out .1s;
transition:left .3s ease-in-out .1s;
	_display:none
}
.jdm-toolbar-tab .tab-sub {
	position:absolute;
	z-index:3;
	right:2px;
	top:-5px;
	height:11px;
	padding:1px 2px;
	border:1px solid #b61d1d;
	overflow:hidden;
	color:#fff;
	font:11px/11px verdana;
	text-align:center;
	min-width:11px;
	_width:20px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	background-color:#cc6060;
	background-image:-moz-linear-gradient(top, #cc6060, #b61d1d);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #cc6060), color-stop(1, #b61d1d));
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc6060', endColorstr='#b61d1d', GradientType='0');
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc6060', endColorstr='#b61d1d');
	background-image:linear-gradient(to bottom, #cc6060 0, #b61d1d 100%)
}
.jdm-tbar-tab-cart .tab-ico {
	background-position:-50px 0
}
.jdm-tbar-tab-follow .tab-ico {
	background-position:-50px -50px
}
.jdm-tbar-tab-history .tab-ico {
	background-position:-50px -100px
}
.z-jdm-tbar-tab-hover, .z-jdm-tbar-tab-hover .tab-ico {
	background-color:#c81623
}
.z-jdm-tbar-tab-hover .tab-text {
	left:-60px;
	background-color:#c81623;
	_display:block
}
.z-jdm-tbar-tab-hover .tab-sub {
	color:#c81623;
	background-color:#fff;
	background-image:-moz-linear-gradient(top, #fff, #fff);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #fff));
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType='0');
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
	background-image:linear-gradient(to bottom, #fff 0, #fff 100%);
	-webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow:1px 1px 3px rgba(0, 0, 0, .3);
	box-shadow:1px 1px 3px rgba(0, 0, 0, .3);
	text-shadow:1px 0 1px rgba(0, 0, 0, .3)
}
.z-jdm-tbar-tab-selected, .z-jdm-tbar-tab-selected .tab-ico {
	background-color:#c81623
}
.z-jdm-tbar-tab-selected .tab-text {
	display:none
}
.z-jdm-tbar-tab-selected .tab-sub {
	color:#c81623;
	background-color:#fff;
	background-image:-moz-linear-gradient(top, #fff, #fff);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #fff));
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType='0');
-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
	background-image:linear-gradient(to bottom, #fff 0, #fff 100%);
	-webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow:1px 1px 3px rgba(0, 0, 0, .3);
	box-shadow:1px 1px 3px rgba(0, 0, 0, .3);
	text-shadow:1px 0 1px rgba(0, 0, 0, .3)
}
.jdm-tbar-tab-jimi .tab-ico {
	background-position:-50px -150px
}
.jdm-tbar-panel-jimi .jdm-tbar-panel-header i {
	width:18px;
	height:19px;
	margin-top:10px;
	background-position:0 -150px
}
.jdm-tbar-panel-jimi .jdm-tbar-panel-content {
	overflow:hidden
}
.jdm-tbar-tab-top .tab-ico {
	background-position:-50px -250px
}
.jdm-tbar-tab-feedback .tab-ico {
	background-position:-50px -300px
}
@-webkit-keyframes toolbar-scaleIn {
from {
opacity:.7;
-webkit-transform:translateX(270px);
-moz-transform:translateX(270px);
transform:translateX(270px)
}
to {
	-webkit-transform:translateX(0px);
	-moz-transform:translateX(0px);
	transform:translateX(0px)
}
}
@-ms-keyframes toolbar-scaleIn {
from {
opacity:.7;
-webkit-transform:translateX(270px);
-moz-transform:translateX(270px);
transform:translateX(270px)
}
to {
	-webkit-transform:translateX(0px);
	-moz-transform:translateX(0px);
	transform:translateX(0px)
}
}
@-moz-keyframes toolbar-scaleIn {
from {
opacity:.7;
-webkit-transform:translateX(270px);
-moz-transform:translateX(270px);
transform:translateX(270px)
}
to {
	-webkit-transform:translateX(0px);
	-moz-transform:translateX(0px);
	transform:translateX(0px)
}
}
@keyframes toolbar-scaleIn {
from {
opacity:.7;
-webkit-transform:translateX(270px);
-moz-transform:translateX(270px);
transform:translateX(270px)
}
to {
	-webkit-transform:translateX(0px);
	-moz-transform:translateX(0px);
	transform:translateX(0px)
}
}
@-webkit-keyframes toolbar-scaleOut {
to {
opacity:.5;
-webkit-transform:scale(0.7) translateX(270px);
-moz-transform:scale(0.7) translateX(270px);
transform:scale(0.7) translateX(270px)
}
}
@-ms-keyframes toolbar-scaleOut {
to {
opacity:.5;
-webkit-transform:scale(0.7) translateX(270px);
-moz-transform:scale(0.7) translateX(270px);
transform:scale(0.7) translateX(270px)
}
}
@-moz-keyframes toolbar-scaleOut {
to {
opacity:.5;
-webkit-transform:scale(0.7) translateX(270px);
-moz-transform:scale(0.7) translateX(270px);
transform:scale(0.7) translateX(270px)
}
}
@keyframes toolbar-scaleOut {
to {
opacity:.5;
-webkit-transform:scale(0.7) translateX(270px);
-moz-transform:scale(0.7) translateX(270px);
transform:scale(0.7) translateX(270px)
}
}
.toolbar-animate-in {
-webkit-animation:toolbar-scaleIn .35s ease-in-out;
-moz-animation:toolbar-scaleIn .35s ease-in-out;
animation:toolbar-scaleIn .35s ease-in-out
}
.toolbar-animate-out {
-webkit-animation:toolbar-scaleOut .35s ease-in;
-moz-animation:toolbar-scaleOut .35s ease-in;
animation:toolbar-scaleOut .35s ease-in
}
.jdm-tbar-panel-ad .jdm-tbar-panel-content {
	overflow:hidden
}
.jdm-toolbar .jdm-toolbar-footer .jdm-tbar-tab-survey .tab-ico {
	display:none;
	_display:none
}
.jdm-toolbar .jdm-toolbar-footer .jdm-tbar-tab-survey .tab-text {
	left:0;
	width:35px;
	height:30px;
	padding:2px 0 3px;
	line-height:15px;
	background:#c81623;
	_display:block
}
