<include file="Public:header"/>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title"><a href="{:U('Article/type')}">文章类型</a></span>
		</div>
		<div class="cf">
			<div class="fl">
				<a class="btn btn-success " href="{:U('Article/typeEdit')}">新 增</a>
				<button class="btn ajax-post btn-info " url="{:U('Article/typeStatus',array('type'=>'resume'))}" target-form="ids">启 用
				</button>
				<button class="btn ajax-post btn-warning " url="{:U('Article/typeStatus',array('type'=>'forbid'))}" target-form="ids">禁 用
				</button>
				<button class="btn ajax-post confirm btn-danger " url="{:U('Article/typeStatus',array('type'=>'del'))}" target-form="ids">删 除
				</button>
			</div>
			<div class="search-form fr cf">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1">
						<select style="width: 160px; float: left; margin-right: 10px;" name="status" class="form-control">
							<option value=""
							<empty name="Think.get.status">selected</empty>
							>全部状态</option>
							<option value="1"
							<eq name="Think.get.status" value="1">selected</eq>
							>冻结状态</option>
							<option value="2"
							<eq name="Think.get.status" value="2">selected</eq>
							>正常状态</option>
						</select>
						<select style=" width: 160px; float: left; margin-right: 10px;" name="field" class="form-control">
							<option value="title"
							<eq name="Think.get.field" value="title">selected</eq>
							>类型标题</option>
						</select>
						<input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="请输入查询内容" style="">
						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
					</form>
					<script>
						//搜索功能
						$(function () {
							$('#search').click(function () {
								$('#formSearch').submit();
							});
						});
						//回车搜索
						$(".search-input").keyup(function (e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div style="font-weight:bold;color:#ff0000;">警告：请不需要删除 ID19官方公告 ID20行业资讯 21币友说币三个栏目分类。首页调用时需要用到</div>
		<div class="data-table table-striped">
			<table class="">
				<thead>
				<tr>
					<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
					<th class="">ID</th>
					<th class="">上层</th>
					<th class="">类型标识</th>
					<th class="">类型标题</th>
					<th class="">首页显示</th>
					<th class="">底部显示</th>
					<th class="">添加时间</th>
					<th class="">编辑时间</th>
					<th class="">排序</th>
					<th class="">状态</th>
					<th class="">操作</th>
				</tr>
				</thead>
				<tbody>
				<notempty name="list">
					<volist name="list" id="vo">
						<tr>
							<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
							<td>{$vo.id}</td>
							<td>{$vo['shang']}</td>
							<td>{$vo['name']}</td>
							<td>{$vo.title}</td>
							<td>
								<eq name="vo.index" value="1">显示
									<else/>
								                              不显示
								</eq>
							</td>
							<td>
								<eq name="vo.footer" value="1">显示
									<else/>
								                               不显示
								</eq>
							</td>
							<td>{$vo.addtime|addtime}</td>
							<td>{$vo.endtime|addtime}</td>
							<td>{$vo.sort}</td>
							<td>
								<eq name="vo.status" value="1">可用
									<else/>
								                               禁用
								</eq>
							</td>
							<td><a href="{:U('Article/typeEdit?id='.$vo['id'])}" class="btn btn-primary btn-xs">编辑</a>
							</td>
						</tr>
					</volist>
					<else/>
					<td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
				</notempty>
				</tbody>
			</table>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//导航高亮
		highlight_subnav("{:U('Article/type')}");
	</script>
</block>