{% extends "demo/base.html" %}
{% load wagtailcore_tags %}


{% block heading %}
  <div class="page-header">

    <div class="pull-right">
      {% for tag in self.tags.all %}
        <a href="{% pageurl self.blog_index %}?tag={{ tag }}"
           class="btn btn-primary btn-xs">
          <i class="glyphicon glyphicon-tag"></i> {{ tag }}
        </a>
      {% endfor %}
    </div>

    <h2>
      {{ self.title }}
      {% if self.date %}<small>{{ self.date }}</small>{% endif %}
    </h2>

  </div>
{% endblock %}

{% block content %}
    {% include "demo/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

    {% if self.body %}
        <div class="body-content">
            {% include "demo/includes/streamfield.html" with content=self.body %}
        </div>
    {% endif %}

    {% include "demo/includes/related_links.html" with related_links=self.related_links.all only %}
{% endblock %}
