<include file="public/min-header"/>
<div class="wrapper">
  <include file="public/breadcrumb"/>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="navbar navbar-default">
                <div class="navbar-form">
                    <div class="pull-right">
                        <a data-original-title="返回" class="btn btn-default" title="" data-toggle="tooltip" href="javascript:history.go(-1)"><i class="fa fa-reply"></i></a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 收货地址列表</h3>
                </div>


                <div class="panel-body">


                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>

                                <td class="text-left">
                                    收货人
                                </td>


                                <td class="text-left">
                                    联系方式
                                </td>

                                <td class="text-left">
                                    邮政编码
                                </td>

                                <td class="text-left">
                                地址
                                 </td>



                            </tr>
                            </thead>
                            <tbody>
                            <volist name="lists" id="list">
                                <tr>
                                    <td class="text-left">{$list.consignee}</td>

                                    <td class="text-left">{$list.mobile}</td>
                                    <td class="text-left">
                                        {$list.zipcode}
                                    </td>
                                    <td class="text-left">
                                        {$regionList[$list[province]]},{$regionList[$list[city]]},{$regionList[$list[district]]},{$list.address}
                                    </td>

                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
    $(document).ready(function(){
        ajax_get_table('search-form2',1);

    });


    // ajax 抓取页面
    function ajax_get_table(tab,page){
        cur_page = page; //当前页面 保存为全局变量
            $.ajax({
                type : "POST",
                url:"/index.php/Admin/user/ajaxindex/p/"+page,//+tab,
                data : $('#'+tab).serialize(),// 你的formid
                success: function(data){
                    $("#ajax_return").html('');
                    $("#ajax_return").append(data);
                }
            });
    }

    // 点击排序
    function sort(field)
    {
        $("input[name='order_by']").val(field);
        var v = $("input[name='sort']").val() == 'desc' ? 'asc' : 'desc';
        $("input[name='sort']").val(v);
        ajax_get_table('search-form2',cur_page);
    }
</script>
</body>
</html>