<include file="public/min-header"/>
<div class="wrapper">
    <include file="public/breadcrumb"/>
    <section class="content">
    <!-- Main content -->
    <!--<div class="container-fluid">-->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading row">
                <div class="pull-right">
                    <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
                </div>
            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">信息</h3>
            </div>
            <div class="panel-body">
                <form action="" method="post">
                    <input type="hidden" value="{$keyword.id}" name="kid">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <div class="row">
                                <td class="text-right col-sm-2">关键词：</td>
                                <td colspan="3">
                                    <input type="text" name="keyword" value="{$keyword.keyword}">
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <div class="row">
                                <td class="text-right col-sm-2">回复内容：</td>
                                <td colspan="3">
                                    <textarea name="text" placeholder="请输入回复内容" rows="3" class="form-control">{$keyword.text}</textarea>
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <div class="row">
                                <td class="text-right col-sm-2"></td>
                                <td colspan="3">
                                    <div class="form-group">
                                        <button class="btn btn-default" type="submit" id="cancel">保存</button>
                                    </div>
                                </td>
                            </div>
                        </tr>
                        </tbody>
                    </table>

                </form>

            </div>
        </div>


    </div>    <!-- /.content -->
        </section>
</div>

</body>
</html>