<include file="public/min-header"/>

<div class="wrapper">
  <include file="public/breadcrumb"/>
  
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-list"></i> 图文回复
              <a href="{:U('Admin/Wechat/add_img')}"><button type="button" class="btn btn-info">
                  <i class="ace-icon fa fa-plus bigger-110"></i>
              </button></a> </h3>
        </div>
        <div class="panel-body">
          <div id="ajax_return">
              <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                      <thead>
                      <tr>
                          <td style="width: 1px;" class="text-center">
                              <input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);">
                          </td>
                          <td class="text-center">
                              关键词
                          </td>
                          <td class="text-center">
                              标题
                          </td>
                          <td class="text-center">
                              描述
                          </td>
                          <td class="text-center">
                              封面图片
                          </td>
                          <td class="text-center">操作</td>
                      </tr>
                      </thead>
                      <tbody>

                      <volist name="lists" id="list">
                          <tr>
                              <td class="text-center">
                                  <input type="checkbox" name="selected[]" value="{$list.id}">
                              </td>
                              <td class="text-center">{$list.keyword}</td>
                              <td class="text-center">{$list.title}</td>
                              <td class="text-center">{$list.desc}</td>
                              <td class="text-center"><button class="btn btn-info btn-sm" type="button" onclick="preview('{$list.pic}')">预览</button></td>

                              <td class="text-center">
                                  <a href="{:U('Admin/Wechat/add_img',array('id'=>$list['id'],'edit'=>1))}" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
                                  <a href="javascript:void(0);" data-href="{:U('Admin/Wechat/del_img',array('id'=>$list['id']))}" onclick="del('{$list[id]}',this)" id="button-delete6" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="删除"><i class="fa fa-trash-o"></i></a>
                              </td>
                          </tr>
                      </volist>

                      </tbody>
                  </table>
              </div>
              <div class="row">
                  <div class="col-sm-6 text-left"></div>
                  <div class="col-sm-6 text-right">{$page}</div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row --> 
  </section>
  <!-- /.content --> 
</div>
<!-- /.content-wrapper --> 
<script>
        // 删除操作
        function del(id,t)
        {
            if(!confirm('确定要删除吗?'))
                return false;

            location.href = $(t).data('href');
        }
        function preview(url){
            layer.open({
                type: 1,
                title: false,
                closeBtn: false,
                area: '300px 300px',
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: "<img src='"+url+"'>"
            });
        }
</script> 
</body>
</html>