@charset "utf-8";
/* CSS Document */
/* CSS Document */
/*!
 * @名称：base.css
 * @功能：1、重设浏览器默认样式
 *       2、设置通用原子类
 */
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
 html {
    background:white;
    color:black;
}
 body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;
    padding:0;
	 
}
 body,button,input,select,textarea {
    font:12px "宋体";
}
.pageContent{
    overflow: hidden;
}
.pageContent input,select,textarea {
    font-size:100%;
}
/* 去掉 table cell 的边距并让其边重合 */
.pageContent table {
    border-collapse:collapse;
    border-spacing:0;
}
/* ie bug：th 不继承 text-align */
.pageContent th {
    text-align:inherit;
}
/* 去除默认边框 */
.pageContent fieldset,img {
    border:none;
}
/* ie6 7 8(q) bug 显示为行内表现 */
.pageContent iframe {
    display:block;
}
/* 去掉 firefox 下此元素的边框 */
.pageContent abbr,acronym {
    border:none;
    font-variant:normal;
}
/* 一致的 del 样式 */
.pageContent del {
    text-decoration:line-through;
}
.pageContent address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}
/* 去掉列表前的标识，li 会继承 */
.pageContent ol,ul {
    list-style:none;
}
/* 对齐是排版最重要的因素，别让什么都居中 */
.pageContent caption,th {
    text-align:left;
}
/* 来自yahoo，让标题都自定义，适应多个系统应用 */
.pageContent h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}
.pageContent q:before,q:after {
    content:'';
}
/* 统一上标和下标 */
.pageContent sub,sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
.pageContent sup {
    top:-0.5em;
}
.pageContent sub {
    bottom:-0.25em;
}
.pageContent img{ cursor:pointer;}
/* 默认不显示下划线，保持页面简洁 */
.pageContent a,ins {
    text-decoration:none;
	font-size:12px; 
	color:#3c3c3c;
}
/* 去除 ie6 & ie7 焦点点状线 */
.pageContent a:focus,*:focus {
    outline:none;
}
/* 清除浮动 */
.pageContent .clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.pageContent .clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
	overflow:hidden;
}
.pageContent .clearfix {
    zoom:1; /* for ie6 & ie7 */
}
.pageContent .clear {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
}
.pageContent .myclear{ clear:both;}
/* 设置显示和隐藏，通常用来与 js 配合 */
.pageContent .hidden {
    display:none;
}
.pageContent .block {
    display:block;
}
/* 设置浮动，减少浮动带来的 bug */
.pageContent .fl,.fr {
    display:inline;
}
.pageContent .fl {
    float:left;
}
.pageContent .fr {
    float:right;
}
.pageContent .colf22e00{ color:#f22e00;}
/* 帮助中心自定义样式*/
.pageContent .hc-warp{ width:1219px; min-width:1219px; margin:0px auto;}
.pageContent .hc-warp .hc-crumbs {
    padding: 10px 25px 15px 4px;
    overflow: hidden;
    color: #3c3c3c;
}
.pageContent .hc-warp .hc-crumbs a {
    display: inline-block;
    padding: 0px 8px 0px 6px;
    font-family: "宋体";
    color: #3c3c3c;
    font-size: 12px;
}
.pageContent .hc-warp .hc-crumbs a.p-fb {
    font-weight: bold;
    font-size: 14px;
}
.pageContent .hc-warp .hc-crumbs a:hover {
    text-decoration: underline;
    color: #F22E00;
    cursor: pointer;
}
.pageContent .hc-warp .hc-crumbs .p-colF22E00 {
    color: #F22E00;
}
/* 帮助中心左侧栏目样式*/
.pageContent .hc-warp .hc-column{ width:148px; overflow:hidden; border:1px #e9eaec solid; float:left;}
.pageContent .hc-warp .hc-column .hc-column-box h2{ height:34px; padding-left:10px; line-height:34px; font-weight:bold; font-size:14px; background:#f4f4f4; color:#3c3c3c;}
.pageContent .hc-warp .hc-column .hc-column-box ul{ padding:6px 0px 5px 24px;}
.pageContent .hc-warp .hc-column .hc-column-box ul li{ display:inline; height:22px; line-height:22px; overflow:hidden;}
.pageContent .hc-warp .hc-column .hc-column-box ul li a{ display:block; font-size:12px; color:#3c3c3c; cursor:pointer;}
.pageContent .hc-warp .hc-column .hc-column-box ul li a:hover{ color:#0066cc; text-decoration:underline;}
.pageContent .hc-warp .hc-column .hc-column-box ul li a.hover{ color:#0066cc; text-decoration:underline;}

/* 帮助中心右侧总容器*/
.pageContent .hc-warp .hc-content{ width:1020px; overflow:hidden; float:right;}
/* 帮助中心右侧有红色左边框的div样式*/
.pageContent .hc-warp .hc-content .hc-redBlDiv{ border:1px #e9eaec solid; margin-bottom:25px;}
.pageContent .hc-warp .hc-content .hc-redBlDiv .redBlTitle{ height:34px; border-bottom:1px #e9eaec solid; line-height:34px;}
.pageContent .hc-warp .hc-content .hc-redBlDiv .redBlTitle span{ border-left:3px #f22e00 solid; padding-left:10px; padding-top:4px; padding-bottom:4px; font-size:14px; font-weight:bold; color:#3c3c3c;}


/* 帮助中心首页右侧自助服务的div样式*/
.pageContent .hc-warp .hc-content .indexBox{ padding:0px 28px; overflow:hidden; *padding-bottom:28px !important; _height:350px;_padding-bottom:0px}
.pageContent .hc-warp .hc-content .indexBox .ImageBox{ width:174px; height:119px;border-right:1px #ebe7e8 solid; position:relative; float:left; margin-right:29px;margin-top:28px; margin-bottom:28px; overflow:hidden;}
.pageContent .hc-warp .hc-content .indexBox .right{ width:146px;border-right:none;  margin-right:0px;}
.pageContent .hc-warp .hc-content .indexBox .ImageBox .imgDiv{ display:block; width:89px; height:89px;  position:absolute; left:29px; cursor:pointer;}
.pageContent .hc-warp .hc-content .indexBox .ImageBox .cxdd{ background-position:0px 0px;}
.pageContent .hc-warp .hc-content .indexBox .ImageBox .wlgz{ background-position:-103px 0px;}
.pageContent .hc-warp .hc-content .indexBox .ImageBox .sqthh{ background-position:-211px 0px;}
.pageContent .hc-warp .hc-content .indexBox .ImageBox .cxyhj{ background-position:-319px 0px;}
.pageContent .hc-warp .hc-content .indexBox .ImageBox .cxzhye{ background-position:-427px 0px;}
.pageContent .hc-warp .hc-content .indexBox .ImageBox .cxjf{ background-position:-536px 0px;}
.pageContent .hc-warp .hc-content .indexBox .ImageBox .cxpsff{ background-position:-644px 0px;}
.pageContent .hc-warp .hc-content .indexBox .ImageBox .cxshzc{ background-position:-752px 0px;}
.pageContent .hc-warp .hc-content .indexBox .ImageBox .xgmm{ background-position:-860px 0px;}
.pageContent .hc-warp .hc-content .indexBox .ImageBox .cjwt{ background-position:-968px 0px;}
.pageContent .hc-warp .hc-content .indexBox .hc-line{ width:100%; display:block; height:1px; background:#e9eaec; clear:both;_height:1px; _overflow:hidden; }
.pageContent .hc-warp .hc-content .indexBox .ImageBox p{ width:147px; font-family:"microsoft yahei"; font-size:16px; text-align:center; position:absolute; top:100px; color:#3c3c3c; cursor:pointer; }

/* 帮助中心右侧有红色底边框的div样式*/
.pageContent .hc-warp .hc-content .hc-redBbDiv{ margin-bottom:25px;}
.pageContent .hc-warp .hc-content .hc-redBbDiv .hc-redBbDiv-title{ padding-bottom:5px;border-bottom:1px #e9eaec solid;  }
.pageContent .hc-warp .hc-content .hc-redBbDiv .hc-redBbDiv-title span{ padding:0px 10px 4px; border-bottom:2px #f22e00 solid; position:relative; bottom:-1px; z-index:2; font-size:14px; font-weight:bold; color:#3c3c3c;}
.pageContent .hc-warp .hc-content .hc-redBbDiv .index-step{ width:1020px; height:120px; overflow:hidden;margin-top:10px;}

.pageContent .hc-warp .hc-content .hc-wordContent{ padding:20px 30px 0px;}
.pageContent .hc-warp .hc-content .hc-wordContent .red-triangle{ padding-left:10px; background:url(../images/red_h2.gif) left center no-repeat; color:#f22e00; font-weight:bold; font-size:12px; margin-bottom:10px;}
.pageContent .hc-warp .hc-content .hc-wordContent .red-triangle a{ color:#0066cc; text-decoration:underline; cursor:pointer;}


.pageContent .hc-warp .hc-content .hc-wordContent .hc-Table{ border:1px #d4d4d4 solid; border-top:2px #d4d4d4 solid; margin-left:10px; margin-bottom:10px;}
.pageContent .hc-warp .hc-content .hc-wordContent .hc-Table thead tr th{ border:1px #d4d4d4 solid; font-size:12px; color:#6c6c6c; background:#efefef; text-align:center; height:30px; line-height:30px; }
.pageContent .hc-warp .hc-content .hc-wordContent .hc-Table tr td{ border:1px #d4d4d4 solid; font-size:12px; color:#6c6c6c; padding:10px; line-height:22px;}
.pageContent .hc-warp .hc-content .hc-wordContent .hc-Table tr td.f-center{ text-align:center;}
.pageContent .hc-warp .hc-content .hc-wordContent .wordContentSpan{ display:block; font-size:12px; color:#3c3c3c; line-height:22px; padding:0px 6px 0px 10px; margin-bottom:30px;}
.pageContent .hc-warp .hc-content .hc-wordContent .blackFont{ font-weight:bold; font-size:12px; color:#3c3c3c;}
.pageContent .hc-warp .hc-content .hc-wordContent .wordContentSpan a{ color:#0066cc; text-decoration:underline; cursor:pointer;}


/*默认样式，主要是position:fixed实现屏幕绝对定位*/
.pageContent #gotoTop{display:none;position:fixed;top:75%;left:50%;cursor:pointer;margin-top:-50px;margin-left:600px;padding:9px 4px;width:20px;text-align:center;border:1px solid #e0e0e0;background:#fff;}
/*用CSS表达式(expression)来实现ie6下position:fixed效果*/
.pageContent #gotoTop{_position:absolute;_top:expression(documentElement.scrollTop + documentElement.clientHeight * 3/4 + "px")}
/*鼠标进入的反馈效果*/
.pageContent #gotoTop.hover{background:#f32300;color:#fff;text-decoration:none;}


