.be-table:before{ content:""; display:table}
.ma-bo-35{margin-bottom:35px}
.con-y-info h3{ font-size:14px; border-left:4px solid #e5e5e5; padding-left:6px; line-height:1.1; margin-bottom:10px; font-weight:400}
.con-y-info h3 b{ font-size:12px; font-weight:400; color:#28c0c6; margin-left:8px}
.con-y-info h3 b a{ color:#28c0c6}
.con-y-info h3 b a:hover{ text-decoration:underline;}
.address{border:1px solid #fadccf; background-color:#fffde6}
.address tr td{height:56px; border:0   }
.address tr td b{ font-weight:400;}
.address tr td span{ color:#999; word-break:break-all; word-wrap:break-word;}
.address tr td i{ background:url(../images/sprites6.png) no-repeat; display:inline-block; width:24px; height:27px; background-position:-48px -273px; vertical-align:middle; margin-left:10px}
.wi30{ width:30px}
.wi100{ width:100px;}
.con-h h3 em{ font-size:12px; color:#999}
.order-invoice-list{ border:1px solid #dedede}
.order-invoice-list ul li{line-height: 1.2;border-top: 1px solid #dedede;border-bottom: 1px solid #dedede;margin: -1px 0 -1px;vertical-align: top;position: relative; overflow:hidden}
.order-invoice-list ul li input{ margin-right:5px; vertical-align:middle;outline:none;background-color: transparent;font-family: 'Tahoma','\5FAE\8F6F\96C5\9ED1'; font-size:12px;}
.order-invoice-list ul li label{margin-left: 11px;cursor: pointer;vertical-align: middle;}
.invoice-main{margin-right: -94px;position: relative;z-index: 2;height: 18px;padding: 16px 0 16px 20px;}
.officdw{ width:21%;padding: 15px 0;height: 18px;line-height: 18px;}
.usernote{width: 360px;padding: 15px 0;height: 18px;line-height: 18px;}

.invoice-sub label.inv-label{margin-left:94px}
.invoice-sub{ width:100%}
.tips{padding: 10px 0 0 10px;color: #f63;}
.tips em{ color:#888}
.sc-area{ font-family:'Tahoma','\5FAE\8F6F\96C5\9ED1'}
.dt-order-area{ margin-bottom:20px}
.order-pro-list{ border:1px solid #dedede}
.leiliste{ border-top:1px solid #dedede;padding-bottom: 20px}
.hv{background-color: #f7f7f7;height: 30px;line-height: 30px;text-align: center;border-bottom: 1px solid #dedede;}
.hv b{font-weight: 400;color: #e01d20;margin: 0 4px;}
.bv{background-clip:#f7f7f7}
.bv table{ width:100%; table-layout:fixed}
.bv th{ height:30px; text-align:center; font-weight:400;}
.tr-price{ width:112px}
.tr-quantity{ width:236px}
.tr-subtotal{ width:120px}
.tr-subtotal p b{ font-weight:400}
.tr-pro{ text-align:left}
.pro-area-2{ padding:16px 20px}
.wctmes{ padding:0 0 20px 20px}
.wcnhy{ padding:20px 20px 20px 0; width:255px}
.pa-to-15{ padding-top:15px}
.ma-ri-13{ margin-right:13px}
.order-pro-total{ border:1px solid #dedede; border-top:0px; overflow:hidden}
.co-28c0c6{ color:#28c0c6;}
.byicd{ padding:7px 0 0 26px}
.zhiwfnka td{ padding:10px 0}
.zhiwfnkas td{ padding:10px 0}
.ma-ri-10{ margin-right:10px}
.vam{ vertical-align:middle}
.he18{ height:18px;}
.li-he-18{ line-height:18px}
.button-action-use-disabled {font-family: 'Tahoma','\5FAE\8F6F\96C5\9ED1';height: 18px;line-height: 1.2;width: 39px;}
.button-style-disabled-4 {    border: 1px solid #ccc;background-color: #fdfdfd; color: #666; cursor: pointer;}
.texter{ font-family:'Tahoma','\5FAE\8F6F\96C5\9ED1'; border:1px solid #dedede; padding:0px 4px; width:150px}
.texter:focus{ border:1px solid #28c0c6; outline:none}
.ou-no{ outline:none}
.godsyr em{ color:#e01d20}
.fzoubddv{ background-color:#f4f4f4; padding-top:12px}
.fzoubddv table{ table-layout:fixed}
.fzoubddv table tr td{ height:28px; }
.fzoubddv table tr td em{ color:#e01d20}
.tal{ padding-left:25px; text-align:left}
.tar{ padding-right:25px; text-align:right}
.yifje-order{padding: 12px 0 12px 25px;margin-top: 14px;border-top: 1px solid #dbdbdb;font-family: 'Tahoma','\5FAE\8F6F\96C5\9ED1';font-size: 14px;}
.p-subtotal-price b{font-size: 30px;font-family: Arial,Helvetica,sans-serif;margin-left: 6px;position: relative;top: 1px;color: #e01d20;font-weight: 400;}
.p-subtotal-price{font-family: 'Tahoma','\5FAE\8F6F\96C5\9ED1';font-size: 14px;vertical-align: bottom;line-height: 1.1;}
.p-subtotal-price b{font-family: Arial;color: #e01d20;font-size: 20px;margin: 0 15px 0 4px;position: relative;top: 5px;top: 6px \0;font-weight: 400;vertical-align: bottom;}
a.Sub-orders{ width:118px; font-size:14px}
.ma-bo-45{ margin-bottom:45px}
.order-header{height:106px}
.pa-to-36{padding-top:36px}
.wi345{width:345px}
.progress-area div{ width:574px; height:34px; text-indent:100%; white-space:nowrap; background:url(../images/sprites6.png) no-repeat}
.progress-area .progress-area-wd{ background-position:0 0}
.progress-area .progress-area-tx{ background-position:0 -44px}
.progress-area .progress-area-cg{ background-position:0 -88px}
.after:after{ content:""; display:block; overflow:hidden}
.after-ta:fater{ content:""; display:table}
.sc-list{ font-family:'Tahoma','\5FAE\8F6F\96C5\9ED1'}
.sc-pro-list{background-color:#FFF}
.sc-pro-list table{border:1px solid #dedede}
.sc-pro-list table tr th{ height:30px; font-style:normal; font-weight:400}
.sc-pro-list table tr td{border:1px solid #dedede}
.ba-co-danhui{ background-color:#f7f7f7}
.wi63{width:63px;}
.hi63{height:63px}
.gwc-wp-list{ border:1px solid #dedede}
.pa-20{padding:20px}
.pa-to-20{ padding-top:20px}
.ggwc-ys-hs{color:#999;word-break: break-all;word-wrap: break-word;}
.gwc-ys-pp{word-break: break-all;word-wrap: break-word; padding-bottom:4px; line-height:20px; width:514px}
.gwc-ys-pp a:hover{ text-decoration:underline}
.pa-le-9{padding-left:9px}
.stock-area{ display:block; margin:0 auto; width:74px; height:17px; position:relative;}
.stock-area input{ float:left; height:17px; margin:0; width:32px; text-align:center; border:1px solid #cdcdcd; margin:0 2px}
.stock-area input:focus{ outline:1px solid #28c0c6; background-color:#ffffe9}
.stock-area a{ font-size:12px; line-height:15px; border:1px solid #aeaeae; width:15px; height:17px;cursor: pointer; display:inline-block; float:left}
.stock-area a:hover{ border-color:#cccccc; color:#ccc}
.ma-to-2{margin-top:2px}
.layout .con-info{clear: both;}
.gwc-gb{ display:block; width:18px; height:18px; overflow:hidden; text-indent:100%; white-space:nowrap; background:url(../images/icon33.png) no-repeat; background-position:-16px -30px }
.gwc-gb:hover{background-position:-16px -50px; background-color:#F00 }
.pa-le-28{padding-left:28px}
.gwx-xm-dwz label,.gwx-xm-dwz a{color:#28c0c6; margin-left:19px}
.sc-total-list table tr td{height:50px; border:0}
.sc-total-list table tr td em{ font-size:16px; color:#e01d20; font-weight:400}
#bo-to-dedede{border-top:1px solid #dedede}
.sc-acti-list{text-align:right}
.sc-acti-list a{ width:148px; height:35px; text-align:center; line-height:35px; font-size:16px; border:1px solid #d1d1d1; background-color:#f7f7f7; color:#333; display:inline-block;}
.gwc-jxgw{margin-right:20px}
.gwc-jxgw:hover{ color:#666; background-color:#f9f9f9;text-decoration: none;}
.sc-acti-list a.gwc-qjs{ border-color:#e01d20; background-color:#e01d20; color:#FFF}
.sc-acti-list a.gwc-qjs:hover{border-color:#e64a4d; background-color:#e64a4d;}
.ma-bo-135{margin-bottom:100px}
.order-ha{font-family: 'Tahoma','\5FAE\8F6F\96C5\9ED1';margin-bottom: 48px;}
.erhuh{border-top: 2px solid #7abd54;background-color: #f1f8ee;position: relative;padding-left: 165px;min-height: 116px;padding-bottom: 21px;}
.icon-succ{position: absolute;top: 35px;left: 56px;display: inline-block;width: 72px;height: 72px;background-position: 0 0; background:url(../images/icon30.png) no-repeat}
.icon-succa{position: absolute;top: 35px;left: 56px;display: inline-block;width: 72px;height: 72px;background-position: 0 0; background:url(../images/icon33.png) -34px 0 no-repeat}
.icon-sucsa{position: absolute;top: 35px;left: 56px;display: inline-block;width: 72px;height: 72px;background-position: 0 0; background:url(../images/icon33.png) -116px 0 no-repeat}

.erhuh h3{font-size: 18px;color: #7baa61;padding: 27px 0 2px; font-weight:400}
.erhuh p{ color:#777}
.erhuh p b{    font-size: 14px;color: #e01d20;}
.succ-tip{padding-top: 12px;color: #777;}
.succ-tip b{ font-size:14px}
.ddxq-xiaq{ border-top:1px solid #d7ebcb}
.ddxq-xiaq a{display: block;width: 108px;height: 32px;background-color: #f1f8ee;border: 1px solid #d7ebcb;border-top-color: #f1f8ee;margin: -1px auto 0;position: relative;line-height: 30px;font-size: 14px;color: #649a45;text-indent: 31px;}
.ddxq-xiaq a i{ background:url(../images/sprites6.png) no-repeat;    position: absolute;height: 3px;font-size: 1px;line-height: 1px; width: 6px;background-position: -138px -312px;left: 17px;top: 14px;}
.orde-sjyy{ font-family:'Tahoma','\5FAE\8F6F\96C5\9ED1';}
.titls{font-size: 14px;border-left: 4px solid #e5e5e5;padding-left: 6px;line-height: 1.1;margin-bottom: 10px; font-weight:400}
.titls b{font-size: 12px;font-weight: 400;color: #28c0c6;margin-left: 8px;}
.titls b a{color: #28c0c6;}
.bsjy-g dl{border: 1px solid #dedede;border-bottom: 0 none;}
.bsjy-g dl dd{ position:relative}
.dsfzfpte{text-align: center;height: 30px;line-height: 30px;border-bottom: 1px solid #dedede;background-color: #fcfcfc;}
.dsfzf-ee{padding: 30px 0 0 25px;}
.dsfzfpte b{ font-weight:400}
.dsfzf-ee ul li{float: left;width: 167px;padding-bottom: 25px;}
.payment-area, .payment-area label {display: inline-block;position: relative;}
.payment-area input[type=radio]{ margin-right:5px; cursor:default}
.payment-area label{display: inline-block;position: relative;}
.payment-area label img {vertical-align: middle;cursor: pointer;border: 1px solid #ededed;}
.payment-area label:hover img{ border-color:#bf0f0f}
.dsfzf-ee ul:before{ content:""; display:table}
.dsfzf-ee ul:after{ content:""; display:table; clear:both}
.order-payment-area {border-bottom: 1px solid #dedede;}
.dsfzfpte em{ margin-left:8px; color:#999}
.dsfzfpte span{ color:#28c0c6; margin-left:6px;}
.dsfzfpte span a{ color:#28c0c6;}
.dsfzfpte span a:hover{ text-decoration:underline}
.payment-area label i{display: inline-block;width: 20px;height: 30px;border: 1px solid #ffcd88;border-left: 0 none;background-color: #ffd594;color: #4c3f2c;vertical-align: middle;text-align: center;line-height: 1.1;padding-top: 2px;font-style: normal;}
.payment-area label:hover i{border:1px solid #bf0f0f; border-left:0 }
.order-payment-action-area {padding-top: 30px;text-align: right;}
.order-payment-action-area .voucher-use {font-size: 14px;margin-right: 20px;color: #888;line-height: 20px;}
order-payment-action-area {padding-top: 30px;text-align: right; font-family:'Tahoma','\5FAE\8F6F\96C5\9ED1'}
.button-confirm-payment, .button-go-payment {font-family: \5FAE\8F6F\96C5\9ED1;font-size: 16px;width: 148px;height: 35px;line-height: 33px;}
.button-style-5 {color: #FFF;background-color: #d81b24;border: 1px solid #d81b24;display: inline-block;text-align: center;cursor: pointer;}
.order-payment-action-area .voucher-use label {color: #333;margin-right: 20px;}
.button-style-5:hover {background-color: #db2d35;border-color: #db2d35;}
.adderss-add{ width:100%; height:100%;}
.opact-tm{ background-color:rgba(0,0,0,0.4);}
.ol_box_4{width: 428px;border: 1px solid #d2d2d2;background-color: #f2f2f2;box-shadow: 0 2px 3px 0 rgba(0,0,0,.05);font-family: 'Tahoma',\5FAE\8F6F\96C5\9ED1;}
.box-header{position: relative;padding: 26px 0 14px;}
.box-close {display: block;height: 11px;padding-left: 11px;line-height: 1px;position: absolute;right: 10px;top: 10px; background:url(../images/icon1.png) -170px 0 no-repeat}
.box-title{display: block;text-align: center;font-size: 14px;font-weight: 700;}
.wi200{ width:200px}
.box-ct table tr td input,.box-ct table tr td textarea{ border:1px solid #dedede;padding: 7px 10px;font-family: 'Tahoma',\5FAE\8F6F\96C5\9ED1; outline:none}
.box-ct table tr td input:focus,.box-ct table tr td select:focus,.box-ct table tr td textarea:focus{ outline:none; border-color:#28c0c6;}
.he60{ height:60px}
.wi500{ width:500px}
.re-no{ resize:none}
.box-ok{ display:inline-block; text-align:center;min-width: 78px;height: 35px;line-height: 35px;line-height: 33px\9;border: 1px solid #d1d1d1;background-color: #f7f7f7;background-color: rgba(0,0,0,.03);font-size: 14px;margin: 0 7.5px;padding: 0 20px;white-space: nowrap;}
.box-ok:hover{ background-color:#FFF}
.box-ct table{ margin:0 auto}
.box-ct table tr td{ padding:5px 0}
.pa-50-0{ padding:50px 0}
.box-ct table tr td.pa-50-0{ padding:50px 0}
.xh{ margin-right:2px; color:#ca141c; font-family:\5B8B\4F53}
.ma-le--70{ margin-left:-70px;}
.wi25-BFB{ width:25%}
.co-28c0c6{ color:#28c0c6}
.jrgwcv:hover{ text-decoration:underline;}
.wi68{ width:68px}
.wi197{ width:197px}
.wi252{ width:252px}
.myHuaban-info {background-color: #f5f5f5;padding: 30px 0;font-size: 14px; overflow:hidden}
.myHuaban-info .myHuaban-point, .myHuaban-info .myHuaban-redeem {float: left;width: 311px;height: 95px;}
.myHuaban-info .myHuaban-point {border-right: 1px solid #dedede;}
.myHuaban-info .myHuaban-check {float: right;width: 298px;height: 95px;text-align: center;border-left: 1px solid #dedede;}
.myHuaban-info .myHuaban-point dl, .myHuaban-info .myHuaban-redeem dl {padding: 2px 0 0 30px;}
.myHuaban-info .myHuaban-point dl dt, .myHuaban-info .myHuaban-redeem dl dt {margin-bottom: 18px;}
.myHuaban-info .myHuaban-point dl dd span, .myHuaban-info .myHuaban-redeem dl dd span {color: #ca151e;font-size: 34px;}
.myHuaban-info .myHuaban-point dl dd em, .myHuaban-info .myHuaban-redeem dl dd em {font-size: 24px;margin-left: 10px;position: relative;top: -5px;}
.myHuaban-info .myHuaban-check .h-text {color: #888;margin: 6px 0 21px;}
.myHuaban-info .myHuaban-check .h-text span {color: #333;}
.ma-to-50{ margin-top:50px}

.order-header {
    height: 106px;
}
.layout {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.wi345 {
    width: 345px;
}
.pa-to-36 {
    padding-top: 36px;
}
.fr {
    float: right;
}
.pa-to-36 {
    padding-top: 36px;
}

.progress-area .progress-area-wd {
    background-position: 0 0;
}
.progress-area div {
    width: 574px;
    height: 34px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../images/sprites6.png) no-repeat;
}

.progress-area .progress-area-tx {
    background-position: 0 -44px;
}

.progress-area .progress-area-cg {
    background-position: 0 -88px;
}
.after:after {
    content: "";
    display: block;
    overflow: hidden;
}
.sc-list {
    font-family: 'Tahoma','\5FAE\8F6F\96C5\9ED1';
}
.layout:after {
    content: "";
    clear: both;
    display: block;
}
.sc-pro-list table {
    border: 1px solid #dedede;
}
table {
    font-size: 12px;
    color: #333;
    border-collapse: collapse;
}

.ba-co-danhui {
    background-color: #f7f7f7;
}

.sc-pro-list table tr th {
    height: 30px;
    font-style: normal;
    font-weight: 400;
}
.pa-le-9 {
    padding-left: 9px;
}

.sc-pro-list table tr td {
    border: 1px solid #dedede;
}
.pa-to-20 {
    padding-top: 20px;
}
.pa-bo-20 {
    padding-bottom: 20px;
}
.gwc-wp-list {
    border: 1px solid #dedede;
}
.hi63 {
    height: 63px;
}
.wi63 {
    width: 63px;
}
.di-bl {
    display: block;
}
.wi516 {
    width: 516px;
}
.ggwc-ys-hs {
    color: #999;
    word-break: break-all;
    word-wrap: break-word;
}

a {
    color: #333;
	text-decoration: none;
}
.sc-total-list table tr td {
    height: 50px;
    border: 0;
}
.ma-to-20 {
    margin-top: 20px;
}
.sc-acti-list a.gwc-qjs:hover {
    border-color: #e64a4d;
    background-color: #e64a4d;
	text-decoration: none;
}
.sc-acti-list a {
    width: 148px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    border: 1px solid #d1d1d1;
    background-color: #f7f7f7;
    color: #333;
    display: inline-block;
}
.order-address-list .default {
    visibility: hidden;
}
.te-al {
    text-align: center;
}
.button-style-5:hover {
    background-color: #db2d35;
    border-color: #db2d35;
	color:#FFF;
	text-decoration:none;
}
.button-style-5 {
    color: #FFF;
    background-color: #d81b24;
    border: 1px solid #d81b24;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.order-address-list .default {
    visibility: hidden;
}
.address_current {
    background-color: #fffde6;
    border: 1px solid #fadccf;
}
.address_current .default {
    visibility: visible;
}
.order-address-list table {
    background-color: inherit;
    border: 0px solid #CCC;
}
.ma-ri-20 {
    margin-right: 20px;
}
.co-red {
    color: #ca141d;
}
.wrapper1190 {
    width: 1190px;
    margin: 0 auto;
}
.clearing-recommend .cr-block-preferbuy {
    margin-bottom: 25px;
}
.clearing-recommend .cr-title {
    position: relative;
    height: 35px;
    line-height: 35px;
    border-bottom: 2px solid #eee;
}
.fn-tab-nav {
    height: 36px;
}
.fn-fl {
    float: left;
}
.fn-fl, .fn-fr {
    display: inline;
}
.fn-tab-nav li {
    float: left;
    height: 36px;
}
.clearing-recommend .cr-title a.titleon {
    cursor: default;
    color: #f22e00;
    border-bottom: 2px solid #f22e00;
}
.clearing-recommend .cr-title a {
    display: inline;
    float: left;
    padding: 0 15px;
    font-size: 16px;
    font-family: 'Microsoft Yahei';
    cursor: pointer;
    color: #3c3c3c;
    height: 35px;
    line-height: 35px;
}
.clearing-recommend .cr-list-out {
    position: relative;
    border: 1px solid #eee;
    border-top: 0 none;
}
.clearing-recommend .cr-list {
    border-top: 0 none;
    position: relative;
    height: 217px;
    margin: 0 3px;
    padding-top: 17px;
    overflow: hidden;
}
.clearing-recommend .cr-list .slide-wrapper {
    position: absolute;
    height: 245px;
}
.clearing-recommend .cr-list .slide-wrapper ul {
    float: left;
    width: 1182px;
}
.clearing-recommend .cr-list li {
    display: inline;
    float: left;
    width: 225px;
    width: 18%;
    height: 80px;
    margin: 5px 0 5px 10px;
    padding: 5px;
    border: 1px solid #fff;
    text-align: left;
}
.clearing-recommend .cr-list a {
    display: block;
    text-decoration: none;
    color: #6c6c6c;
    font-family: SimSun;
}
.clearing-recommend .cr-list img {
    float: left;
    width: 78px;
    height: 78px;
    margin-right: 6px;
    border: 1px solid #ddd;
}
.clearing-recommend .cr-list p {
    height: 32px;
    margin-bottom: 3px;
    line-height: 16px;
    overflow: hidden;
}
.clearing-recommend .cr-list .div-01 {
    width: 124px;
    margin: 0 0 3px auto;
    font-family: tahoma;
    color: #f22e00;
    font-weight: 700;
}
.clearing-recommend .cr-list .div-01 del {
    margin-right: 5px;
    font-weight: 100;
    color: #999;
}
.clearing-recommend .cr-list .btn {
    width: 74px;
    height: 24px;
    margin-left: 0;
    padding-bottom: 3px;
    color: #6c6c6c;
    border-color: #ddd;
    font-family: Tahoma,SimSun;
    background-color: #fff;
	margin: 0 5px;
    font-size: 12px;
    outline: 0;
	border-radius: 2px;
    background: #fafafa;
    border: 1px solid #ededed;
	 cursor: pointer;
}
.clearing-recommend .cr-list li:hover .btn {
    border-color: #f22e00;
    background: #f22e00;
    color: #fff;
}
.clearing-recommend .cr-list .btn:hover {
    color: #f22e00;
}
.span_ored{margin-left: 20px}
.order-pro-list .leiliste table tr td{padding: 5px 0 5px 0}
.order-pro-list .leiliste table tr td .span_text{width: 300px}