{% load wagtailcore_tags %}

{% if adverts %}
  <ul class="advert-list list-inline text-center">
    {% for advert in adverts %}
      <li>
        {% if advert.url %}
          <a href="{{ advert.url }}">
        {% elif advert.page %}
          <a href="{% pageurl advert.page %}">
        {% endif %}
          {{ advert.text }}
        {% if advert.url or advert.page %}</a>{% endif %}
      </li>
      {% if not forloop.last %}<li><strong>·</strong></li>{% endif %}
    {% endfor %}
  </ul>
{% endif %}
