<include file="Public:header"/>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">应用中心</span>
		</div>
		<div class="cf"></div>
		<div class="data-table table-striped">

		</div>
	</div>
</div>
<script type="text/javascript">
	$(function () {
		//主导航高亮
		$('.issue-box').addClass('current');
		//边导航高亮
		$('.issue-index').addClass('current');
	});
</script>
<include file="Public:footer"/>