<include file="Public:header" />
<div class="wrapper">
	<div class="register" style="border-radius: 15px; margin-bottom: 20px;">
		<h3 style="color: #ff7420; font-size: 30px; text-align: center; padding-top: 50px;">环迅支付充值订单详情</h3>
		<table style="">
			<tbody>
				<tr>
					<th align="right" style="font-size: 14px;">订单时间：</th>
					<td><div class="formbody" style="text-align: left; font-size: 18px;">
							<span>{$mycz.addtime|addtime}</span>
						</div></td>
				</tr>
				<tr>
					<th align="right" style="font-size: 14px;">订单编号：</th>
					<td><div class="formbody" style="text-align: left; font-size: 18px;">
							<span id="invite-input">{$mycz.tradeno}</span>
						</div></td>
				</tr>
				<tr>
					<th align="right" style="font-size: 14px;">充值金额：</th>
					<td><div class="formbody" style="text-align: left; font-size: 18px; color: #ff8000;">
							￥
							<span id="invite-inputa" style="width: 150px;">{$mycz.num}</span>
						</div></td>
				</tr>
				<tr>
					<th align="right" style="font-size: 14px;"></th>
					<td><div class="w2">
				<input type="button" class="btn-cztx" id="btn-submit" value="立即付款" title="立即付款" style="margin-bottom: 20px;margin-top:20px;float: left;">
					
					
					</div></td>
				</tr>
				
				
				<tr>
					<th align="right"></th>
					<td><hr> <span style="float: left; margin-top: 50px;">
							付款成功
							<a href="{:U('Finance/mycz')}" target="_blank">立即查看</a>
						</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th align="right"></th>
					<td><span style="float: left; margin-top: 10px;">
							遇到问题
							<a href="http://wpa.qq.com/msgrd?v=3&amp;uin={$C['contact_qq'][0]}&amp;site=qq&amp;menu=yes" target="_blank">联系客服</a>
						</span></td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>



 <form action="http://pay.tonnr.com/movepay/ipspay/redirect.php" METHOD="POST" name="payForm" id="payForm" style="display: none;">	
      <table  bordercolordark="#FFFFFF" bordercolorlight="#333333" >
        <tr bgcolor="#8070FF"> 
          <td colspan="2" align="center">
            <font color="#FFFF00"><b>标准商户订单支付接口(新接口)</b></font>
          </td>
        </tr>
        <tr>
          <td width="37%">提交地址</td>
          <td width="63%">
            <select name="test">
              <option value="1">测试环境</option>
              <option value="0"  selected="selected">正式环境</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>商户号</td>
          <td>
            <input type="text" name="Mer_code" size="18" value="177589" /><!--测试商户号-->
          </td>
        </tr>
        <tr>
          <td>商户证书</td>
          <td>
            <input type="text" name="Mer_key" size="40" value="wsXH6loAwLLGks24UaYfZcDfeDgUmGxSBsC7T6B6sopA4rmjwTe05VWXvU0Lhyd1akxzCtSPdUer6UDXmbed7fx0L0BUjQW2Sf6dqKBuHXKCnjcnauJw9bx2Gnsn1BaP" /><!--测试商户号-->
          </td>
        </tr>
        <tr>
          <td>订单号</td>
          <td>
            <input type="text" name="Billno" size="24" value="{$mycz.tradeno}" />
          </td>
        </tr>
        <tr>
          <td>金&nbsp;&nbsp;额</td>
          <td>
            <input type="text" name="Amount" size="18" value="{$mycz.num}" /><!--保留两位小数-->
          </td>
        </tr>
        <tr>
          <td>显示金额</td>
          <td>
            <input type="text" name="DispAmount" size="18" value="{$mycz.num}" />
          </td>
        </tr>
        <tr>
          <td>日&nbsp;&nbsp;期</td>
          <td>
            <input type="text" name="Date" size="18" value="{$mycz.addtime|date='Ymd',###}" />
          </td>
        </tr>
        <tr>
          <td>支付币种</td>
          <td>
            <select name="Currency_Type">
              <option value="RMB" selected="selected">人民币</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>支付方式</td>
          <td>
            <select name="Gateway_Type">
              <option value="01" selected="selected">借记卡</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>语言</td>
          <td>
            <select name="Lang">
              <option value="GB">GB中文</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>支付成功返回URL</td>
          <td>
            <input type="text" name="Merchanturl" size="40" value="http://pay.tonnr.com/movepay/ipspay/OrderReturn.php" />
          </td>
        </tr>
        <tr>
          <td>支付失败返回URL</td>
          <td>
            <input type="text" name="FailUrl" size="40" value="" />
          </td>
        </tr>
        <tr>
          <td>商户附加数据包</td>
          <td>
            <input type="text" name="Attach" size="40" value="" />
          </td>
        </tr>
        <tr>
          <td>订单支付加密方式</td>
          <td>
            <select name="OrderEncodeType">
              <option value="5" selected="selected">md5摘要</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>交易返回加密方式</td>
          <td>
            <select name="RetEncodeType">
              <option value="16">md5withRsa</option>
              <option value="17" selected="selected">md5摘要</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>是否提供Server返回方式</td>
          <td>
            <select name="Rettype">
              <option value="0">无Server to Server</option>
              <option value="1" selected="selected">有Server to Server</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Server to Server返回页面</td>
          <td>
            <input type="text" name="ServerUrl" size="40" value="<?php echo $url; ?>" />
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <input type="submit" value="提交" />
            <input type="reset" value="重写" />
          </td>
        </tr>
      </table>
    </form>

















<script>
	$('#btn-submit').click(function(){
		$('#payForm').submit();
		
	});
</script>









<script type="text/javascript" src="__PUBLIC__/Home/js/ZeroClipboard.min.js"></script>
<script>
	var client=new ZeroClipboard(document.getElementById("copy-button"));
	client.on("ready",function(readyEvent){
		client.on("aftercopy",function(event){
			event.target.style.display="none";
		});
	});
	ZeroClipboard.config({swfPath:'__PUBLIC__/Home/js/ZeroClipboard.swf'});
	var clip=new ZeroClipboard(document.getElementById("copy"));
	$(document).ready(function(){
		var clip1=new ZeroClipboard(document.getElementById("copy_button1"));
		var clip2=new ZeroClipboard(document.getElementById("copy_button2"));
		var clip3=new ZeroClipboard(document.getElementById("copy_button3"));
		clip1.on("copy",function(e){
			layer.msg('复制成功！',{icon:1});
		});
		clip2.on("copy",function(e){
			layer.msg('复制成功！',{icon:1});
		});
		clip3.on("copy",function(e){
			layer.msg('复制成功！',{icon:1});
		});
		$(".wlb_tsina").click(function(){
			window.open("http://v.t.sina.com.cn/share/share.php?url="+_share_url+"&title="+_share_content);
		});
		$(".wlb_douban").click(function(){
			window.open("http://www.douban.com/recommend/?url="+_share_url+"&title="+_share_content);
		});
		$(".wlb_qzone").click(function(){
			window.open("http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url="+_share_url+"&title="+_share_title+"&pics="+_share_pic+"&desc="+_share_content);
		});
	});
</script>
<script>
	//顶部菜单高亮
	$('#menu_top_finance').addClass('current');
</script>
<include file="Public:footer" />