<% include ./header.ejs %>
<style type="text/css">
    

</style>
<div class="about-page main grid-wrap">

        <header class="grid col-full">
        <hr>
            <p class="fleft">关于我们</p>
        </header>
        <aside class="grid col-one-quarter mq2-col-full">
            <p class="mbottom">
                视工作为修行， <br>
                视品质如生命， <br>
                视任务如作品，<br>
                视口碑如人品。
            </p>
            <menu>
                <hr>
                <ul>
                    <li><a href="#navteam">我们的服务</a></li>
                    <li><a href="#navphilo">我们的理念</a></li>
                    <li><a href="#navother">我们的优势</a></li>
                </ul>
            </menu>
        </aside>
        
        <section class="grid col-three-quarters mq2-col-full">
            <img src="<%=static_dir%>/img/team.jpg" alt="">
            
            <article id="navteam">
            <h2>我们的服务</h2>
            <p>
                <dl>
                    <dd>- 网站诊断与竞品分析 </dd>
                    <dd>- 网站策划与定位</dd>
                    <dd>- 网站品牌识别风格设计</dd>
                    <dd>- 网站页面设计</dd>
                    <dd>- 网页W3C标准化制作与前端交互技术开发</dd>
                    <dd>- CMS内容管理定制化开发</dd>
                    <dd>- 网站内容初始化</dd>
                    <dd>- SEO搜索引擎友好化</dd>
                    <dd>- 网站综合测试与服务器部署</dd>
                    <dd>- 网站管理培训</dd>
                    <dd>- 一年免费技术保障</dd>
                    <dd>- 网站年度运维</dd>
                    <dd>- 域名/云主机/邮局</dd>
                </dl>
            </p>
            </article>
            
            <article id="navphilo">
            <h2>我们的理念</h2>
                <p>从策划、信息架构设计、视觉设计到前后端技术开发，拥有国内首屈一指的网站建设专业团队。</p>
                <p>最早提出以品牌为导向而非技术为导向的网站建设服务，我们出品一直以客户的企业文化、品牌风格和品牌形象设计为重点，通过网站树立另人耳目一新的企业的网络品牌形象。</p>
            </article>
            
            <article id="navother">
            <h2>我们的优势</h2>
            <p>
                <dl>
                    <dd>- 以品牌为导向、数字平台营销的理念对网站进行整体构建；</dd>
                    <dd>- 高度定制化设计与功能开发；</dd>
                    <dd>- 系统提升网站的品牌化、可用性、内容、平台营销能力与销售线索挖掘力；  </dd>
                    <dd>- 领先的Web响应式设计，一站适应PC、iPhone、iPad等多终端浏览；</dd>
                    <dd>- 丰富的国际品牌实践经验；</dd>
                    <dd>- 国际化视野与国际化标准；</dd>
                    <dd>- 真正具备工程级大型网站构建的承接能力和实践经验；</dd>
                    <dd>- 稳定可靠的技术保障与服务保障；</dd>
                    <dd>- 完善地售后服务；</dd>
                    <dd>- 专业全面的网络营销推广经验。</dd>
                </dl>
            </p>
            </article>
        
        </section>
        
    </div>
<% include ./footer.ejs %>