    </div> <!--main-->
    <div class="divide-top">
        <footer class="grid-wrap">
            <!-- 友情链接 -->
            <ul class="grid col-one-third social">
                <li><a href="http://printf.cn">博客</a></li>
                <li><a href="http://baidu.com">百度</a></li>
            </ul>
            
            <div class="up grid col-one-third ">
                <a href="#navtop" title="Go back up">&uarr;</a>
            </div>
            
            <nav class="grid col-one-third ">
                <ul>
                    <li><a href="/">首页</a></li>
                    <li><a href="/index/product">案例</a></li>
                    <li><a href="/page/index/service">服务</a></li>
                    <li><a href="/index/news">Blog</a></li>
                    <li><a href="/page/index/about">关于</a></li>
                </ul>
            </nav>
        </footer>
    </div>
    
</div>
<!-- Javascript - jQuery -->
<script src="http://code.jquery.com/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="<%=static_dir%>/js/jquery-1.7.2.min.js"><\/script>')</script>
<!--[if (gte IE 6)&(lte IE 8)]>
<script src="<%=static_dir%>/js/selectivizr.js"></script>
<![endif]-->
<script src="<%=static_dir%>/js/jquery.flexslider-min.js"></script>
<script src="<%=static_dir%>/js/scripts.js"></script>
</body>
</html>