<% include ./header.ejs %>
<div class="services-page main grid-wrap">

        <header class="grid col-full">
            <hr>
            <p class="fleft">我们的服务</p>
        </header>


        <aside class="grid col-one-quarter mq2-col-full">
            <p class="mbottom">
                互联网时代从来不缺乏理论家<br>
                你需要的是认真的IT开发者
            </p>
            <menu>
                <ul>
                    <li><a href="#web">网站设计</a></li>
                    <li><a href="#managed">运行维护</a></li>
                    <li><a href="#weixin_app">系统拓展</a></li>
                </ul>
            </menu>
        </aside>
        
        <section class="grid col-three-quarters mq2-col-full">
        
            
            
            <div class="grid-wrap">
            
            <article id="web" class="grid col-full">
                <h2>网站设计</h2>
                <p>
                    我们深知 <br>
                    质量比价格更能创造影响力<br>
                    精工足料比速度更有效率<br>
                    人文关怀比技术更能打动用户<br>
                </p>
            </article>
        
            <article id="managed" class="grid col-full">
                <h2>运行维护</h2>
                        <ul class="toggle-view">
                            <li>
                                <h5 class="toggle-title tactive">功能维护 <span class="toggle-title-detail">- 运行支持</span></h5>
                                <div class="toggle grid-wrap" style="display: block;">                     
                                    <ul class="grid col-one-half mq3-col-full">
                                        <li>服务器空间</li>
                                        <li>数据库空间</li>
                                        <li>域名注册</li>
                                        <li>备案协助</li>
                                        <li>定时维护</li> 
                                        <li>数据备份</li>
                                    </ul>
                                    <ul class="grid col-one-half mq3-col-full">
                                        <li>文章发布</li>
                                        <li>商品上传</li>
                                        <li>图片处理</li>
                                        <li>宣传活动</li>
                                        <li>招聘广告</li> 
                                        <li>客服代码</li>
                                    </ul>
                                </div>       
                            </li>
                            
                            <li>
                                <h5 class="toggle-title">系统拓展 <span class="toggle-title-detail">- 程序升级</span></h5>
                                <div class="toggle">                     
                                    <p>
                                        当发现随着网站的运行，您的系统已经无法满足业务需要，这是世界上万事万物最简单的逻辑——一切都会变化。
                                    </p>
                                    <p>随时欢迎来电，帮助您将您的网站增加功能、拓展，或者延伸到其他平台例如APP、微信等。</p>
                                </div>       
                            </li>
                        </ul>
            </article>
            
            <article id="weixin_app" class="grid col-full">
                <h2>系统拓展</h2>
                <div class="">
                    <ul class="tabs clearfix">
                        <li class="active"><a href="#tab1">APP</a></li>
                        <li><a href="#tab2">微信</a></li>
                        <li><a href="#tab3">手机</a></li>
                        <li><a href="#tab4">更多</a></li>
                    </ul>
                    <div class="tab_container">
                        <article id="tab1" class="tab_content" style="display: block;">
                            <p>
                                我们有足够灵活的设计，允许你在同一个系统之上，构建出您自己的IOS、安卓等平台客户端。
                            </p>
                        </article>
                        
                        <article id="tab2" class="tab_content" style="display: none;">
                            <p>我们可以通过微信公共账号，和用户足够的交互，同时支持更多的活动，游戏，等加入到我们之中。</p>
                        </article>
                        
                        <article id="tab3" class="tab_content" style="display: none;">
                            <p>
                                手机网站可以随时随地，宣传您的网站，另外也有二维码作为网站的入口。
                            </p>
                        </article>
                        <article id="tab4" class="tab_content" style="display: none;">
                            <p>如果您发现有更多的渠道展现您的网站，欢迎和我们沟通。</p>
                        </article>

                     </div>
                  </div>
            </article>
            
            </div> <!-- 100%articles-->
        
        </section>  
        
        
        
    </div>
<% include ./footer.ejs %>