<include file="Public:header" />


<div class="autobox">
    <div class="now">
        <i class="fa fa-home fa-lg move mr5"></i><a href="/" class="">首页 </a>&gt; 找回交易密码    </div>
    <div class="login_step">
        <div class="login_step">
            <ul class="order clear" style="margin-left: 312px;">
                <li><i class="fa fa-circle  fz_40 "><span>1</span></i> 确认账号                    <div class="order_line"></div>
                </li>
                <li><i class="fa fa-circle  fz_40 "><span>2</span></i>重置交易密码                    <div class="order_line"></div>
                </li>
                <li><i class="fa fa-circle  fz_40 move"><span>3</span></i>完成</li>
            </ul>
        </div>
    </div>
    <div class="reg_box">
        <div class="reg_su">
            <div class="reg_su_title"><i class="fa fa-check mr5 fz_40"></i>恭喜您，找回交易密码成功！</div>
            <div class="reg_info">
                <div class="auto_btn mb35 mt50">
                    <a href="/user/index.html" class="center btns2">安全中心</a>

                    <div class="right_side"></div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
	$('#index_box').addClass('active');
</script>






<include file="Public:footer" />