<include file="Public:header" />

<style>

.autobox {
    width: 1000px;
    margin: 0 auto;
}

.reg_box {
    margin-top: 11px;
    border: 1px solid #efefef;
    background: #fff;
    margin-bottom: 48px;
    padding-bottom: 78px;
    min-height: 400px;
}

.center {
    text-align: center;
}
.m-t-40 {
    margin-top: 40px !important;
}


.orange {
    color: #e55600 !important;
}



</style>

<div class="autobox">
    <div class="reg_box mart0">
        <div class="center m-t-40" id="resetlpwd">
            <h2 class="orange">攻城狮努力开发中，敬请期待</h2>
        </div>
    </div>
</div>

<include file="Public:footer" />