{include file="common/loginHead"/}
<div class="fly-home" style="background-image: url();">
    {if condition="$userInfo['avatar']"}
    <img src="{:imgUrl($userInfo['avatar'])}" alt="{$userInfo.username}">
    {else/}
    <img src="__STATIC__/user/images/avatar/default.png" alt="{$userInfo.username}">
    {/if}
    <h1>
        {$userInfo.username}
        {if condition="$userInfo['sex'] eq 1"}
        <i class="iconfont icon-nan"></i>
        {else/}
        <i class="iconfont icon-nv"></i>
        {/if}
    </h1>
    <p class="fly-home-info">
        <i class="iconfont icon-shijian"></i><span>{:toDate($userInfo['reg_time'],'Y-m-d')} 加入</span>
        {if condition="$userInfo['city']"}
        <i class="iconfont icon-chengshi"></i><span>{:toCity($userInfo['city'])}</span>
        {/if}
    </p>
    {if condition="$userInfo['motto']"}
    <p class="fly-home-sign">（ {$userInfo.motto}）</p>
    {/if}
</div>

{include file="common/footer"/}
</body>
</html>