<include file="Public:header"/>
<script src="__PUBLIC__/Admin/js/layer/laydate/laydate.js"></script>
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">警告内容</div>
    </div>
    <div id="main" class="main">
        <div class="main-title-h">
            <span class="h1-title">财务明细--只统计人民币部分</span>
        </div>
        <div class="cf">
		
			<div class="fl">
				<button class="btn btn-success" url="{:U('Finance/qq3479015851_financeExcel')}" target-form="ids" id="submit" type="submit">导出选中</button>
				<a class="btn btn-success" href="{:U('Finance/qq3479015851_financeAllExcel')}" >导出所有</a>
			</div>
		
		
            <div class="search-form fr cf">
                <div class="sleft">
                    <form name="formSearch" id="formSearch" method="get" name="form1" >
                        <select style=" width: 160px; float: left; margin-right: 10px;" name="field" class="form-control">
                            <option value="username"
                            <eq name="Think.get.field" value="username">selected</eq>
                            >用户名</option>
                        </select>
                        <input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="请输入查询内容" style="">
                        <a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
                    </form>
                    <script>
                        //搜索功能
                        $(function(){
                            $('#search').click(function(){
                                $('#formSearch').submit();
                            });
                        });
                        //回车搜索
                        $(".search-input").keyup(function(e){
                            if(e.keyCode===13){
                                $("#search").click();
                                return false;
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="data-table table-striped">
		 <form id="form" action="{:U('Finance/qq3479015851_financeExcel')}" method="post" class="form-horizontal">
            <table class="">
                <thead>
                <tr>
                    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                    <th class="">ID</th>
                    <th class="">用户名</th>
                    <th class="">操作币种</th>
                    <th class="">操作数量</th>
                    <th class="">操作类型</th>
                    <th class="">操作之前</th>
                    <th class="">操作之后</th>
                    <th class="">操作说明</th>
                    <th class="">操作时间</th>
                    <th class="">状态</th>
                </tr>
                </thead>
                <tbody>
                <notempty name="list">
                    <volist name="list" id="vo">
                        <tr>
                            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                            <td>{$vo['id']}</td>
                            <td>{$vo['username']}</td>
                            <td>{$vo['coinname']}</td>
                            <td>{$vo['fee']}</td>
                            <td>{$vo['type']}</td>
                            <td>正常 : {$vo['num_a']}<br>
                                冻结 : {$vo['num_b']}<br>
                                总计 : {$vo['num']}<br>
                            </td>
                            <td>正常 : {$vo['mum_a']}<br>
                                冻结 : {$vo['mum_b']}<br>
                                总计 : {$vo['mum']}<br>
                            </td>
                            <td>名称 : {$vo['name']}<br>
                                详情 :
                                <empty name="vo['nameid']"><font color="red">有异常</font>
                                    <else/>
                                    <!--<a href="{$vo['nameid']}">查看详细</a>--></empty>
                                <br>
                                备注 : {$vo['remark']}<br>
                            </td>
                            <td>{$vo['addtime']}</td>
                            <td>
                                <eq name="vo['status']" value="1">正常
                                    <else/>
                                    <font color="red">比对上次记录<br>发现异常<br>误差大于1</font></eq>
                            </td>
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
                </notempty>
                </tbody>
            </table>
			</form>
            <div class="page">
                <div>{$page}</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	//提交表单
	$('#submit').click(function () {
		$('#form').submit();
	});
</script>



<include file="Public:footer"/>
<block name="script">
    <script type="text/javascript" charset="utf-8">
        //导航高亮
        highlight_subnav("{:U('Finance/index')}");
    </script>
</block>