<div class="sidebar">
	<div id="subnav" class="subnav current">
		<h3>
			<i class="icon icon-unfold current"></i>
			财务
		</h3>
		<ul class="side-sub-menu current">
			<li class="mycz-indexa">
				<a class="item" href="{:U('Mycz/index')}">财务配置</a>
			</li>
			<li class="mycz-indeax">
				<a class="item" href="{:U('Mycz/index')}">人民币充值接口</a>
			</li>
			<li class="mycz-indeax">
				<a class="item" href="{:U('Mycz/index')}">人民币充值记录</a>
			</li>
			
			<li class="mycz-indeax">
				<a class="item" href="{:U('Mycz/index')}">人民币提现接口</a>
			</li>
			<li class="mycz-tyape">
				<a class="item" href="{:U('Mycz/type')}">人民币提现记录</a>
			</li>
			<li class="mycz-tyape">
				<a class="item" href="{:U('Mycz/type')}">数字资产转入记录</a>
			</li>
			<li class="mycz-tyape">
				<a class="item" href="{:U('Mycz/type')}">数字资产转出记录</a>
			</li>
			
		</ul>
	</div>
</div>