<include file="Public:header"/>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title"><a href="{:U('Finance/myczType')}">人民币充值方式列表</a>  >></span>
            <span class="h1-title"><empty name="data">添加人民币充值方式
	            <else/>
                                                      编辑人民币充值方式
            </empty></span>
		</div>
		<div class="tab-wrap">
			<div class="tab-content">
				<form id="form" action="{:U('Finance/myczTypeEdit')}" method="post" class="form-horizontal">
					<div id="tab" class="tab-pane in tab">
						<div class="form-item cf">
							<table>
								<tr class="controls">
									<td class="item-label">接口名称 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="title" value="{$data.title}" >
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">官方账号 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="username" value="{$data.username}" >
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">接口密匙 :</td>
									<td>
										<input type="password" class="form-control input-10x" name="password" value="{$data.password}" >
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">开户名称 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="truename" value="{$data.truename}" >
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">开户地址 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="kaihu" value="{$data.kaihu}" >
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">最小充值 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="min" value="{$data.min}" >
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">最大充值 :</td>
									<td>
										<input type="text" class="form-control input-10x" name="max" value="{$data.max}">
									</td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label">二维码 :</td>
									<td>
										<div id="addpicContainer">
											<!-- 利用multiple="multiple"属性实现添加多图功能 -->
											<!-- position: absolute;left: 10px;top: 5px;只针对本用例将input隐至图片底下。-->
											<!-- height:0;width:0;z-index: -1;是为了隐藏input，因为Chrome下不能使用display:none，否则无法添加文件 -->
											<!-- onclick="getElementById('inputfile').click()" 点击图片时则点击添加文件按钮 -->
											<notempty name="data.img">
												<!--没有图片显示默认图片-->
												<img id="up_img" onclick="getElementById('inputfile').click()" style="cursor:pointer;max-width:500px;" title="点击添加图片" alt="点击添加图片" src="/Upload/public/{$data.img}">
												<else/>
												<!--没有图片显示默认图片-->
												<img id="up_img" onclick="getElementById('inputfile').click()" style="cursor:pointer;max-width:500px;" title="点击添加图片" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
											</notempty>
											<input type="hidden" id="img" name="img" value="{$data.img}">
											<input type="file" id="inputfile" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
										</div>
									</td>
									<td class="item-note"></td>
								</tr>

								<tr class="controls">
									<td class="item-label">状态 :</td>
									<td><select name="status" class="form-control input-10x">
										<option value="1"
										<eq name="data.status" value="1">selected</eq>
										>可用</option>
										<option value="0"
										<eq name="data.status" value="0">selected</eq>
										>禁用</option>
									</select></td>
									<td class="item-note"></td>
								</tr>
								<tr class="controls">
									<td class="item-label"></td>
									<td>
										<div class="form-item cf">
											<button class="ajax-post btn submit-btn" id="submit" type="submit" target-form="form-horizontal" style="margin-right: 14px;">确 定
											</button>
											<a class="btn btn-return" href="{$Think.server.HTTP_REFERER}">返 回</a>
											<notempty name="data.id"><input type="hidden" name="id" value="{$data.id}"/>
											</notempty>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</form>
				<script type="text/javascript">
					//提交表单
					$('#submit').click(function () {
						$('#form').submit();
					});
				</script>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		//响应文件添加成功事件
		$("#inputfile").change(function () {
			//创建FormData对象
			var data = new FormData();
			//为FormData对象添加数据
			$.each($('#inputfile')[0].files, function (i, file) {
				data.append('upload_file' + i, file);
			});


			//发送数据
			$.ajax({
				url: '/Admin/Finance/myczTypeImage',
				type: 'POST',
				data: data,
				cache: false,
				contentType: false,		//不可缺参数
				processData: false,		//不可缺参数
				success: function (data) {
					if (data) {
						$('#up_img').attr("src", '/Upload/public/' + data);
						$('#img').val(data);
						$('#up_img').show();
					}
				},
				error: function () {
					alert('上传出错');
					$(".loading").hide();	//加载失败移除加载图片
				}
			});

		});
	});



</script>
<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//导航高亮
		highlight_subnav("{:U('Finance/myczType')}");
	</script>
</block>