<include file="Public:header"/>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">提现配置</span>
		</div>
		<div class="tab-wrap">
			<div class="tab-content">
				<form id="form" method="post" class="form-horizontal" enctype="multipart/form-data">
					<div id="tab" class="tab-pane in tab">
						<div class="form-item cf">
							<table>
								<table>
									<tr class="controls">
										<td class="item-label">最小提现金额 :</td>
										<td>
											<input type="text" class="form-control input-10x" name="mytx_min" value="{$C['mytx_min']}">
										</td>
										<td class="item-note">最小提现金额</td>
									</tr>
									<tr class="controls">
										<td class="item-label">最大提现金额 :</td>
										<td>
											<input type="text" class="form-control input-10x" name="mytx_max" value="{$C['mytx_max']}">
										</td>
										<td class="item-note">最大提现金额</td>
									</tr>
									<tr class="controls">
										<td class="item-label">提现整倍数 :</td>
										<td>
											<input type="text" class="form-control input-10x" name="mytx_bei" value="{$C['mytx_bei']}">
										</td>
										<td class="item-note">提现整倍数</td>
									</tr>
									<tr class="controls">
										<td class="item-label">提现手续费 :</td>
										<td>
											<input type="text" class="form-control input-10x" name="mytx_fee" value="{$C['mytx_fee']}">
										</td>
										<td class="item-note">%提现手续费</td>
									</tr>
									<tr class="controls">
										<td class="item-label"></td>
										<td>
											<div class="form-item cf">
												<button class="btn submit-btn ajax-post" target-form="form-horizontal" id="submit" type="submit">确 定</button>
												<a class="btn btn-return" href="{$Think.server.HTTP_REFERER}">返 回</a>
											</div>
										</td>
									</tr>
								</table>
							</table>
						</div>
					</div>
				</form>
				<script type="text/javascript">
					//提交表单
					$('#submit').click(function () {
						$('#form').submit();
					});
				</script>
			</div>
		</div>
	</div>
</div>
<include file="Public:footer"/>