<include file="Public:header"/>
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">警告内容</div>
    </div>
    <div id="main" class="main">
        <div class="main-title-h">
            <span class="h1-title">数字资产转出</span>
        </div>

        <div class="cf">
            <div class="search-form fr cf">
                <div class="sleft">
                    <form name="formSearch" id="formSearch" method="get" name="form1">
                        <select style="width: 160px; float: left; margin-right: 10px;" name="coinname" class="form-control">
                            <option value=""
                            <empty name="Think.get.coinname">selected</empty>
                            >交易币种</option>
                            <volist name="C['coin']" id="vo">
                                <option value="{$vo['name']}"
                                <eq name="vo['name']" value="$Think.get.coinname">selected</eq>
                                >{$vo['title']}</option>
                            </volist>
                        </select>
                        <select style=" width: 160px; float: left; margin-right: 10px;" name="field" class="form-control">
                            <option value="username"
                            <eq name="Think.get.field" value="username">selected</eq>
                            >用户名</option>
                        </select>
                        <input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="请输入查询内容" style="">
                        <a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
                    </form>
                    <script>
                        //搜索功能
                        $(function () {
                            $('#search').click(function () {
                                $('#formSearch').submit();
                            });
                        });
                        //回车搜索
                        $(".search-input").keyup(function (e) {
                            if (e.keyCode === 13) {
                                $("#search").click();
                                return false;
                            }
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="data-table table-striped">
            <table class="">
                <thead>
                <tr>
                    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                    <th class="">ID</th>
                    <th class="">用户名</th>
                    <th class="">币种</th>
                    <th width="">申请时间</th>
                    <th width="">转出地址</th>
                    <th width="">转出数量</th>
                    <th class="">提现手续费</th>
                    <th width="">状态</th>
                    <th width="">操作</th>

                </tr>
                </thead>
                <tbody>
                <notempty name="list">
                    <volist name="list" id="vo">
                        <tr>
                            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                            <td>{$vo.id}</td>
                            <td>{$vo['usernamea']} </td>
                            <td>{$vo.coinname}</td>
                            <td>
                                <empty name="vo['addtime']">
                                        ---
                                <else />
                                    {$vo.addtime|addtime}
                                </empty>
                            </td>
                            <td>{$vo.username}</td>

                            <empty name="vo['num']">
                                    <td style="color: yellowgreen">({$vo['num']})手续费</td>
                                <else />
                                    <td>{$vo['num']}</td>
                            </empty>

                            <empty name="vo['num']">
                                <td style="color: yellowgreen">入账:{$vo['fee']}</td>
                                <else />
                                <td>{$vo['fee']}</td>
                            </empty>

                            <td>
                                <eq name="vo.status" value="0">等待处理
                                </eq>

                                <eq name="vo.status" value="1">成功

                                </eq>
                            </td>
                            <td>
                                <eq name="vo.status" value="1">
                                    <else/>
                                    <empty name="vo['num']">
                                        不用操作
                                        <else />
                                        <a href="{:U('Finance/myzcQueren?id='.$vo['id'])}" class="ajax-get btn btn-primary btn-xs">确认转出 </a>
                                    </empty>
                                </eq>
                            </td>

                        </tr>
                    </volist>
                    <else/>
                    <td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
                </notempty>
                </tbody>
            </table>
            <div class="page">
                <div>{$page}</div>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>
<block name="script">
    <script type="text/javascript" charset="utf-8">
        //导航高亮
        highlight_subnav("{:U('Finance/myzc')}");
    </script>
</block>