<include file="Public:header"/>
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">警告内容</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">成交记录</span>
		</div>
		<div class="cf">
			<div class="fl"></div>
			<div class="search-form fr cf">
				<div class="sleft">
					<form name="formSearch" id="formSearch" method="get" name="form1">
						<select style="width: 160px; float: left; margin-right: 10px;" name="market" class="form-control">
							<option value=""
							<empty name="Think.get.market">selected</empty>
							>交易市场</option>
							<volist name="C['market']" id="vo">
								<option value="{$vo['name']}"
								<eq name="vo['name']" value="$Think.get.market">selected</eq>
								>{$vo['title']}</option>
							</volist>
						</select>
						
						
						<select style="width: 160px; float: left; margin-right: 10px;" name="type" class="form-control">
							<option value=""
							<empty name="Think.get.type">selected</empty>
							>交易类型</option>
							<option value="1" <eq name="Think.get.type" value="1">selected</eq>>买入</option>
							<option value="2" <eq name="Think.get.type" value="2">selected</eq>>卖出</option>
						</select>
						
						
						<select style=" width: 160px; float: left; margin-right: 10px;" name="field" class="form-control">
							<option value="username"
							<eq name="Think.get.field" value="username">selected</eq>
							>买家用户名</option>
							<option value="peername"
							<eq name="Think.get.field" value="peername">selected</eq>
							>卖家用户名</option>
						</select>
						<input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="请输入查询内容" style="">
						<a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
					</form>
					<script>
						//搜索功能
						$(function () {
							$('#search').click(function () {
								$('#formSearch').submit();
							});
						});
						//回车搜索
						$(".search-input").keyup(function (e) {
							if (e.keyCode === 13) {
								$("#search").click();
								return false;
							}
						});
					</script>
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<table class="">
				<thead>
				<tr ><th cols="12" style="background-color:#009200">共{$qq3479015851_count}条记录，金额{$qq3479015851_getSum|default="0"}元</th></tr>
				<tr>
					<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
					<th class="">ID</th>

					<th class="">买家</th>
					<th class="">卖家</th>
					<th class="">市场</th>
					<th class="">单价</th>
					<th class="">数量</th>
					<th class="">总额</th>
					<th class="">买家手续费</th>
					<th class="">卖家手续费</th>
					<th class="">交易类型</th>
					<th class="">时间</th>
				</tr>
				</thead>
				<tbody>
				<notempty name="list">
					<volist name="list" id="vo">
						<tr>
							<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
							<td>{$vo.id}</td>

							<td>{$vo['username']}</td>
							<td>{$vo['peername']}</td>
							<td>{$vo['market']}</td>
							<td>{$vo['price']|NumToStr}</td>
							<td>{$vo['num']|NumToStr}</td>
							<td>{$vo['mum']|NumToStr}</td>
							<td>{$vo['fee_buy']|NumToStr}</td>
							<td>{$vo['fee_sell']|NumToStr}</td>
							<td>
								<eq name="vo.type" value="1">买入
									<else/>
								                             卖出
								</eq>
							</td>
							<td>{$vo.addtime|addtime}</td>
						</tr>
					</volist>
					<else/>
					<td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
				</notempty>
				</tbody>
			</table>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<include file="Public:footer"/>
<block name="script">
	<script type="text/javascript" charset="utf-8">
		//导航高亮
		highlight_subnav("{:U('Trade/log')}");
	</script>
</block>