
                    <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"></td>
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:sort('order_id');">发货单流水号</a>
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:sort('order_sn');">订单编号</a>
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:sort('consignee');">下单时间</a>
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:sort('order_status');">收货人</a>
                                    </td>
                                    <td class="text-center">
                                        <a href="">发货时间</a>
                                    </td>
                                    <td class="text-center">
                                            <a href="javascript:sort('add_time');">退货时间</a>
                                    </td>
                                    <td class="text-center">
                                        <a href="javascript:sort('add_time');">操作人</a>
                                    </td>
                                    <td class="text-center">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="orderList" id="list">
                                    <tr>
                                        <td class="text-center">                    <input type="checkbox" name="selected[]" value="6">
                                            <input type="hidden" name="shipping_code[]" value="flat.flat"></td>
                                        <td class="text-center">{$list.delivery_sn}</td>
                                        <td class="text-center">{$list.order_sn}</td>
                                        <td class="text-center">{$list.shipping_time|date='Y-m-d H:i',###}</td>
                                        <td class="text-center">{$list.consignee}</td>
                                        <td class="text-center">{$list.add_time|date='Y-m-d H:i',###}</td>
                                        <td class="text-center">{$list.return_time|date='Y-m-d H:i',###}</td>
                                        <td class="text-center">{$list.action_user}</td>
                                        <td class="text-center">
                                            <a href="{:U('Admin/order/delivery_info',array('id'=>$list['back_id'],'type'=>1))}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="查看详情"><i class="fa fa-eye"></i></a>
                                            <a href="{:U('Admin/order/delivery_del',array('id'=>$list['back_id'],'type'=>1))}" id="button-delete6" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="删除"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-6 text-left"></div>
                        <div class="col-sm-6 text-right">{$page}</div>
                    </div>
<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        ajax_get_table('search-form2',page);
    });
</script>