<include file="Public:header" />
<div id="main-content">
 <div id="top-alert" class="fixed alert alert-error" style="display: none;">
  <button class="close fixed" style="margin-top: 4px;">&times;</button>
  <div class="alert-content">警告内容</div>
 </div>
 <div id="main" class="main">
  <div class="main-title-h">
   <span class="h1-title">推广管理</span>
   <notempty name="name"> <span class="h2-title">>><a href="{:U('Invit/index')}">推广列表</a></span> </notempty>
  </div>
  <div class="cf">
   <div class="fl"></div>
   <div class="search-form fr cf">
    <div class="sleft">
     <form name="formSearch" id="formSearch" method="get" name="form1" action="{:U('Invit/index')}">
      <input type="text" name="name" class="search-input" value="{$name}" placeholder="请输入用户名"> <a class="sch-btn" href="javascript:;" id="search"><i class="btn-search"></i></a>
     </form>
     <script>
						//搜索功能
						$(function(){
							$('#search').click(function(){
								$('#formSearch').submit();
							});
						});
						//回车搜索
						$(".search-input").keyup(function(e){
							if(e.keyCode===13){
								$("#search").click();
								return false;
							}
						});
					</script>
    </div>
   </div>
  </div>
  <div class="data-table table-striped">
   <table class="">
    <thead>
     <tr>
      <th class="row-selected row-selected"><input class="check-all" type="checkbox" /></th>
      <th class="">ID</th>
      <th class="">用户名</th>
      <th class="">推荐的用户</th>
      <th class="">奖励名称</th>
      <th class="">操作类型</th>
      <th class="">操作金额</th>
      <th class="">奖励金额</th>
      <th class="">奖励时间</th>
     </tr>
    </thead>
    <tbody>
     <notempty name="list"> <volist name="list" id="vo">
     <tr>
      <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
      <td>{$vo.id}</td>
      <td>{$vo['username']}</td>
      <td>{$vo.invit}</td>
      <td>{$vo.name}</td>
      <td>{$vo.type}</td>
      <td>{$vo['num']*1}</td>
      <td>{$vo['fee']*1}</td>
      <td>{$vo.addtime|addtime}</td>
     </tr>
     </volist> <else />
     <td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
     </notempty>
    </tbody>
   </table>
   <div class="page">
    <div>{$page}</div>
   </div>
  </div>
 </div>
</div>
<script type="text/javascript">
	$(function(){
		//主导航高亮
		$('.invit-box').addClass('current');
		//边导航高亮
		$('.invit-index').addClass('current');
	});
</script>
<include file="Public:footer" />