<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{print content('info')/}">
<meta name="keywords" content="{print content('keywords')/}">
<title>{print content('small_title')/}_{print cateinfo('cate_title_seo')/}_{print webinfo('web_name')/}</title>
<link href="{path template/}/images/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{path template/}/images/jquery.js"></script>
<script type="text/javascript" src="{path template/}/images/nav.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.q_body ul li').click(function(){
		$index=$('.q_body ul li').index(this);
		$(this).addClass('focus').siblings().removeClass('focus');
		$('.show_q_body').find('#body').eq($index).show().siblings().hide();
	});
});
</script>
</head>
<body>
{include head/}
<div class="div_margin"></div>
<div class="contain">
	<div class="contain_left">
	{assign source=get_tpl_list_nav() name=tree/}
	{if $tree}
		<div class="box left_width">
			<div class="left_title"><h2>产品导航</h2></div>
			<div class="box_in">
				<div id="category_tree">
				{loop source=tree item=$nav}
					 <dl>
     <dt><span class="c_icon"></span><a class="{print $nav['class']/}" href="{print $nav['url']/}" {print $nav['target']/} title="{print $nav['cate_name']/}">{print $nav['cate_name']/}</a></dt>
	 
     <dd style="display: none;" id="nav_16">
	 <ul>
	 {loop source=$nav['child']}
	  	 <li><a href="{print $v['url']/}">{print $v['cate_name']/}</a></li>
     {/loop}
     </ul>
	 </dd>
   </dl>
				{/loop}
				</div>
			</div>
		</div><!--容器结束-->
		<div class="div_margin"></div>
		{/if}
		{assign source=get_else_content($cate_id='',$limit='0,5',$order_type='hits',$filter='',$pic='no',$order='desc',$lang='') name=hot_arc/}
		{if $hot_arc}
			<div class="box">
			<div class="left_title"><h2>热门内容</h2></div>
			<div class="box_in">
				<div class="news_list">
					 <ul>
					 {loop source=$hot_arc}
       					 <li><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/} {if $v['style']}style="{print $v['style']/}"{/if}>{print cn_substr($v['title'],40)/}</a>{print date('m-d',$v['updatetime'])/}</li>
				{/loop}
	   				</ul>  
				</div>  
			</div>
		</div><!--容器结束-->
		{/if}
			<div class="box">
			<div class="left_title"><h2>联系方式</h2></div>
			<div class="box_in">
				<div class="contact">
				{print get_block_content('contact_us')/}
				</div>
			</div>
		</div><!--容器结束-->
		
		{assign source=get_xg_content($limit='0,5',$order_type='id',$filter='',$pic='no',$order='desc',$lang='') name=xg_arc/}
		{if $xg_arc}
			<div class="box">
			<div class="left_title"><h2>相关内容</h2></div>
			<div class="box_in">
				<div class="news_list">
					 <ul>
					 {loop source=$xg_arc}
       					 <li><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/} {if $v['style']}style="{print $v['style']/}"{/if}>{print cn_substr($v['title'],40)/}</a>{print date('m-d',$v['updatetime'])/}</li>
				{/loop}
	   				</ul>  
				</div>  
			</div>
		</div><!--容器结束-->
		{/if}
		
	</div><!--左边内容-->
	<div class="contain_right">
		
		<div class="box">
			<div class="box_title"><h2 class="position"><span>当前位置:{position source=position/} > {print content('style_title')/}</span></h2></div>
			<div class="box_in">
				<p class="title" style="{print content('style')/}">{print content('title')/}</p>
  <p class="info"><span>点击次数:<script language="javascript" src="{path includes/}/hits.php?id={print content('id')/}"></script></span><span>更新时间:{print date('Y-m-d H:m:s',content('updatetime'))/}</span><span><a href="javascript:window.print()">【打印】</a></span><span><a href="javascript:self.close()">【关闭】</a></span></p>
 <ul class="soft_info">
 {assign source=content('down') name=down/}
  <li><span>文件类型:</span>{print $down['type']/}</li>
  <li><span>文件大小:</span>{print $down['size']/}KB</li>
 </ul><!--下载信息-->
  <div class="arc_body">
   <div class="q_body">
		<ul>
		 <li class="focus"><span>详细内容</span></li>
		 <li><span>点击下载</span></li>
		</ul>
	</div>
  <div class="show_q_body">	
	<div id="body">
 <table width='100%'>
	<tr><td>{print content('content')/}</td></tr>
  </table>
   <div class="page_fy" style="float:none;margin-left:300px;">
   {print body_pages()/}
  </div>
  </div>
  <div id="body" style="display:none">
  	 <a href="{print $down['url']/}" target="_blank">点击下载</a>
  </div>
  </div>
  </div>

{assign source=get_content_key() name=bq/}
  {if $bq}
  <div class="bq">
  相关标签：{loop source=$bq}
  <a href="{print $v['url']/}" target="_blank">{print $v['name']/}</a>
  {/loop}
  </div>
  {/if}

 <div class="arc_link" style="clear:both">
 {assign source=content('prev') name=prev/}
 {if $prev}<span>上一篇：<a href="{print $prev['url']/}">{print $prev['title']/}</a></span>{else}<span>上一篇：没有了</span>{/if}
  {assign source=content('next') name=next/}
 {if $next}<span>下一篇：<a href="{print $next['url']/}">{print $next['title']/}</a></span>{else}<span>下一篇：没有了</span>{/if}
 </div>
				
			</div>
		</div><!--容器结束-->
	</div>
	<div class="clear"></div>
</div>

{include foot/}
</body>
</html>