<div class="left_contain">
 <h2 rel="id1_ul"><p {if $act=='main'}class="focus"{/if}><span><a href="member.php?action=main">中心首页</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='info'}class="focus"{/if}><span><a href="member.php?action=info">用户信息</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='add_ask'}class="focus"{/if}><span><a href="member.php?action=add_ask">添加咨询</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='ask'}class="focus"{/if}><span><a href="member.php?action=ask">管理咨询</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='coll'}class="focus"{/if}><span><a href="member.php?action=coll">我的收藏</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='password'}class="focus"{/if}><span><a href="member.php?action=password">修改密码</a></span></p></h2>
 <h2 rel="id1_ul"><p><span><a href="member.php?action=out">注销登录</a></span></p></h2>
</div>