<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{print content('info')/}">
<meta name="keywords" content="{print content('keywords')/}">
<title>{print content('small_title')/}_{print cateinfo('cate_title_seo')/}_{print webinfo('web_name')/}</title>
<link href="{path template/}/images/style.css" rel="stylesheet" type="text/css">
<link href="{path template/}/images/MagicZoom.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{path template/}/images/mz-packed.js"></script>
<script type="text/javascript" src="{path template/}/images/jquery.js"></script>
<script type="text/javascript" src="{path template/}/images/nav.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.q_body ul li').click(function(){
		$index=$('.q_body ul li').index(this);
		$(this).addClass('focus').siblings().removeClass('focus');
		$('.show_q_body').find('#body').eq($index).show().siblings().hide();
	});
});
</script>
</head>
<body>
{include head/}

<div class="contain">
	<div class="ct_left">
	
		<div class="div_list">
			<div class="div_list_body">
				{include left_nav/}
			</div>
		</div><!--区域-->
		
		<div class="div_list">
			<div class="div_list_body">
				<h2 class="title"><span>联系方式</span></h2>
				<div class="div_list_ct">
					<div class="contact" style="height:auto">
						{print get_block_content('contact_us')/}
					</div>
				</div>
			</div>
		</div><!--区域-->
		
		
		
	</div><!--左边-->
	<div class="ct_right">
		
		<div class="div_list">
			<div class="div_list_body">
				<h2 class="title"><span>当前位置:&nbsp;{position source=position/}</span></h2>
				<div class="content_ct">
					<div class="content_ct2">
						<div class="arc_title" style="{print content('style')/}">{print content('title')/}</div>
						<div class="add_info"><p class="info"><span>点击次数:<script language="javascript" src="{path includes/}/hits.php?id={print content('id')/}"></script></span><span>更新时间:{print date('Y-m-d H:m:s',content('updatetime'))/}</span><span><a href="javascript:window.print()">【打印】</a></span><span><a href="javascript:self.close()">【关闭】</a></span></p></div>
						
						
						<div class="show_product">
  <div class="show_left">

	 <div class="img">
    {loop source=album('pics')}
	{if $v['first']}
   <a href="{print $v['pic']/}" class="MagicZoom MagicThumb" id="zoom">
    <img src="{print $v['pic']/}" title="{print content('title')/}"/>
   </a>
   {/if}
   {/loop}
   </div>
 <ul>
	<li><a href="{path book/}/book.php?lang=cn&pr_id={print content('id')/}" class="ask"></a><a href="#order" class="order"></a></li>
   </ul>
   <div class="clear"></div>
           


  </div><!--相册500px-->
  <div class="show_right">
  
  <ul>
            {loop source=album('pics')}<li><a rel="zoom" title="{print $v['alt']/}" href="{print $v['pic']/}" rev="{print $v['pic']/}"><img src="{print $v['thumb']/}" alt="{print $v['alt']/}" class="B_blue" /></a></li>{/loop}
            </ul>
  
  
  </div><!--详细-->
  <div class="clear"></div>
  </div><!--产品展示-->
  
  <div class="arc_body">
  
   <div class="q_body">
		<ul>
		 <li class="focus"><span>详细内容</span></li>
		</ul>
	</div>
  <div class="show_q_body">	
	<div id="body">
 <table width='100%'>
	<tr><td>{print content('content')/}</td></tr>
  </table>
  
  <div id="pr_form">
<a name="order"></a>

<span id="set_this_form_2011"></span>
{print get_form(5)/}
</div>
  
   <div class="page_fy" style="float:none;margin-left:300px;">
   {print body_pages()/}
  </div>
  </div>
 
  </div>
  
  </div>
  
   {assign source=get_content_key() name=bq/}
  {if $bq}
  <div class="bq">
  相关标签：{loop source=$bq}
  <a href="{print $v['url']/}" target="_blank">{print $v['name']/}</a>
  {/loop}
  </div>
  {/if}
  
  
 <div class="arc_link" style="clear:both">
 {assign source=content('prev') name=prev/}
 {if $prev}
 <dl class="prv">
 	<dt><p>上一个：</p><a href="{print $prev['url']/}"><img src="{print $prev['thumb_pic']/}" width="100" height="100"/></a></dt>
	<dd>{print $prev['title']/}</dd>
 </dl>
 {/if}
{assign source=content('next') name=next/}
 {if $next}
 <dl class="next">
 	<dt><p>下一个：</p><a href="{print $next['url']/}"><img src="{print $next['thumb_pic']/}" width="100" height="100"/></a></dt>
	<dd>{print $next['title']/}</dd>
 </dl>
 {/if}
</div>
						
					
					<div class="fx">
					<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享到：</a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone">QQ空间</a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina">新浪微博</a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq">腾讯微博</a><a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren">人人网</a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin">微信</a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</div>		
						
						
					</div>
				</div>
			</div>
		</div>
		
		<div class="div_list">
			<div class="div_list_body">
				<h2 class="title"><span>推荐产品</span></h2>
				<div class="div_list_ct">
					{assign source=get_tpl_cate_content($tpl_id='3',$limit='0,4',$order_type='',$filter='',$pic='no',$order='',$lang='') name=tj_pr/}
					<ul class="tj_pr_list" id="colee1">
					{loop source=$tj_pr['contents']}
						<li>
							<p><a href="{print $v['url']/}"><img src="{print $v['thumb_pic']/}" border="0" alt="{print $v['title']/}" /></a></p>
							<p class="tj_title"><a href="{print $v['url']/}" title="{print $v['title']/}">{print $v['title']/}</a></p>
						</li>
					{/loop}	
					</ul>
					<div class="clear"></div>
				</div>
			</div>
		</div><!--区域-->
		
		
	</div><!--右边-->
	<div class="clear"></div>
</div>



{include foot/}
</body>
</html>