<include file="Public:header" />


<div class="autobox">
	<div class="now">
		<i class="fa fa-home fa-lg move mr5"></i><a href="/" class="">首页 </a>&gt; 注册账户	</div>
	<div class="login_step">
		<ul class="order clear">
			<li><i class="fa fa-circle  fz_40"><span>1</span></i>用户注册				<div class="order_line"></div>
			</li>
			<li><i class="fa fa-circle  fz_40 move"><span>2</span></i>交易密码				<div class="order_line"></div>
			</li>
			<li><i class="fa fa-circle  fz_40"><span>3</span></i>实名认证				<div class="order_line"></div>
			</li>
			<li><i class="fa fa-circle  fz_40"><span>4</span></i>成功</li>
		</ul>
	</div>
	<div class="reg_box">
		<div class="reg_wrap pt47">
			<div class="reg_warning"><i class="fa fa-exclamation-sign mr5"></i><span>为保障您的账户安全，请完善您的账户资料</span></div>
			<div class="reg_input_box reg-fb" style="display:none;">
				<div class="reg_title">用户名：</div>
				<input type="text" id="username" class="texts w300" placeholder="必须字母开头+数字格式">
			</div>
			<div class="reg_input_box reg-fb" style="display:none;">
				<div class="reg_title">邮箱：</div>
				<input type="text" id="email" class="texts w300"/>
			</div>
			<div class="reg_input_box reg-fb">
				<div class="reg_title">交易密码：</div>
				<input type="password" id="paypassword" class="texts w300"/>
			</div>
			<div class="reg_input_box reg-fb">
				<div class="reg_title">确认密码：</div>
				<input type="password" id="repaypassword" class="texts w300"/>
			</div>
			<br/>
			<div class="reg_button_box">
				<input type="button" class="btns2 w300" value="下一步" onclick="paypassword_up();"/>
			</div>
		</div>
	</div>
</div>


<script>
	function paypassword_up() {
		//var username      = $("#username").val();
		//var email         = $("#email").val();
		var paypassword   = $("#paypassword").val();
		var repaypassword = $("#repaypassword").val();

		//if (username == "" || username == null) {
			//layer.tips("请输入用户名", '#username', {tips: 2});
			//return false;
		//}
		//if (email == "" || email == null) {
		//	layer.tips("请输入邮箱", '#email', {tips: 2});
		//	return false;
		//}
		if (paypassword == "" || paypassword == null) {
			layer.tips("请输入交易密码", '#paypassword', {tips: 2});
			return false;
		}
		if (repaypassword == "" || repaypassword == null) {
			layer.tips("请输入确认密码", '#repaypassword', {tips: 2});
			return false;
		}
		if (paypassword != repaypassword) {
			layer.tips("确认密码错误", '#repaypassword', {tips: 2});
			return false;
		}

		$.post("/Login/upregister2.html", {
			paypassword: paypassword,
			repaypassword:repaypassword,
			token: ""
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});

					window.location = '/Login/truename';

			} else {
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
</script>








<include file="Public:footer" />