<include file="Public:header"/>
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">警告内容</div>
    </div>
    <div id="main" class="main">
        <div class="main-title-h">
            <span class="h1-title"><a href="{:U('Huafei/coin')}">付款方式</a> >></span>
            <span class="h1-title"><empty name="data">添加付款方式
                <else/>
                编辑付款方式
            </empty></span>
        </div>
        <div class="tab-wrap">
            <div class="tab-content">
                <form id="form" action="{:U('Huafei/editCoin')}" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div id="tab" class="tab-pane in tab">
                        <div class="form-item cf">
                            <table>
                                <tr class="controls">
                                    <td class="item-label">付款币种 :</td>
                                    <td>
                                        <select name="coinname" class="input-small">
                                            <volist name="C['coin_list']" id="v">
                                                <option value="{$v['name']}"
                                                <eq name="data['coinname']" value="$v['name']">selected</eq>
                                                >{$v['title']}</option>
                                            </volist>
                                        </select>
                                    </td>
                                    <td class="item-note"></td>
                                </tr>
                                <tr class="controls">
                                    <td class="item-label">付款比例 :</td>
                                    <td>
                                        <input type="text" class="form-control" name="price" value="{$data.price}">
                                    </td>
                                    <td class="item-note">留空为大盘最新成交价，填数字表示1个数字资产等于多少人民币</td>
                                </tr>
                                <tr class="controls">
                                    <td class="item-label">状态 :</td>
                                    <td>
                                        <select name="status" class="input-small">
                                            <option value="1"
                                            <eq name="data.status" value="1">selected</eq>
                                            >可用                                        </option>
                                            <option value="0"
                                            <eq name="data.status" value="0">selected</eq>
                                            >禁用                                        </option>
                                        </select>
                                    </td>
                                    <td class="item-note"></td>
                                </tr>
                                <tr class="controls">
                                    <td class="item-label"></td>
                                    <td>
                                        <div class="form-item cf">
                                            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                                            <a class="btn btn-return" href="{$Think.server.HTTP_REFERER}">返 回</a>
                                            <notempty name="data.id">
                                                <input type="hidden" name="id" value="{$data.id}"/>
                                            </notempty>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
                <script type="text/javascript">
                    //提交表单
                    $('#submit').click(function () {
                        $('#form').submit();
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //主导航高亮
        $('.Adver-box').addClass('current');
        //边导航高亮
        $('.Adver-index').addClass('current');
    });
</script>
<include file="Public:footer"/>