<include file="Public:header"/>
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">警告内容</div>
    </div>
    <div id="main" class="main">
        <div class="main-title-h" style="font-size: 24px;">
            <span class="h1-title">充值记录</span>
            <present name="Think.get.name">
                <i class="ca"></i>[<a href="{:U('Huafei/index')}"> 记录列表</a> ]
            </present>
        </div>
        <div class="cf">
            <div class="fl"></div>
            <div class="search-form fr cf">
                <div class="sleft">
                    <form name="formSearch" id="formSearch" method="get" name="form1" action="{:U('Huafei/index')}">
                        <input type="text" name="name" class="search-input" value="{$Think.get.name}" placeholder="请输入用户名">
                        <a class="sch-btn" href="javascript:;" id="search"><i class="btn-search"></i></a>
                    </form>
                    <script>
                        //搜索功能
                        $(function () {
                            $('#search').click(function () {
                                $('#formSearch').submit();
                            });
                        });
                        //回车搜索
                        $(".search-input").keyup(function (e) {
                            if (e.keyCode === 13) {
                                $("#search").click();
                                return false;
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="data-table table-striped">
            <table class="">
                <thead>
                <tr>
                    <th class="row-selected row-selected">
                        <input class="check-all" type="checkbox"/>
                    </th>
                    <th class="">ID</th>
                    <th class="">用户名</th>
                    <th class="">充值手机</th>
                    <th class="">充值金额</th>
                    <th class="">付款方式</th>
                    <th class="">付款金额</th>
                    <th class="">充值时间</th>
                    <th class="">处理时间</th>
                    <th class="">状态</th>
                    <th class="">操作</th>
                </tr>
                </thead>
                <tbody>
                <notempty name="list">
                    <volist name="list" id="vo">
                        <tr>
                            <td>
                                <input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/>
                            </td>
                            <td>{$vo.id}</td>
                            <td>
                                <a href="{:U('User/index?field=username&name='.$vo['username'])}">{$vo.username}</a>
                            </td>
                            <td>{$vo.moble}</td>
                            <td>{$vo.num}</td>
                            <td>{$vo.type}</td>
                            <td>{$vo.mum}({$vo.type})</td>
                            <td>{$vo.addtime}</td>
                            <td>{$vo.endtime}</td>
                            <td>
                                <eq name="vo['status']" value="0">正在处理</eq>
                                <eq name="vo['status']" value="1">已到账</eq>
                                <eq name="vo['status']" value="2">已撤销</eq>
                            </td>
                            <td>
                                <eq name="vo['status']" value="0">
                                    <a href="{:U('Huafei/resume?id='.$vo['id'])}" class="btn btn-primary btn-xs ajax-get confirm">到账</a><a href="{:U('Huafei/repeal?id='.$vo['id'])}" class="btn btn-warning btn-xs ajax-get confirm">撤销</a>
                                </eq>
                                <eq name="vo['status']" value="1">
                                    <a href="{:U('Huafei/delete?id='.$vo['id'])}" class="btn btn-danger btn-xs ajax-get confirm">删除</a>
                                </eq>
                                <eq name="vo['status']" value="2">
                                    <a href="{:U('Huafei/delete?id='.$vo['id'])}" class="btn btn-danger btn-xs ajax-get confirm">删除</a>
                                </eq>
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
                </notempty>
                </tbody>
            </table>
            <div class="page">
                <div>{$page}</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //主导航高亮
    $('.Adver-box').addClass('current');
    //边导航高亮
    $('.Adver-index').addClass('current');
</script><!-- /内容区 -->
<include file="Public:footer"/>