<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{print content('info')/}">
<meta name="keywords" content="{print content('keywords')/}">
<title>{print content('small_title')/}_{print cateinfo('cate_title_seo')/}_{print webinfo('web_name')/}</title>
<link href="{path template/}/images/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{path template/}/images/jquery.js"></script>
</head>
<body>
{include head/}
<div class="contain" style="margin-top:8px;">
 <div class="main_left">
 {assign source=get_tpl_list_nav() name=tree/}
	{if $tree}
  <h2 class="title"><span class="pr_icon">Product navigation</span></h2>
  <ul class="pr_nav">
  {loop source=$tree}
   <li class="{print $v['class']/}"><a href="{print $v['url']/}" {print $v['target']/} title="{print $v['cate_name']/}">{print $v['cate_name']/}</a></li>
   {/loop}
  </ul>
  {/if}
  <h2 class="title" style="margin-top:15px;"><span class="link_icon">Contact</span></h2>
  <div class="link">
 {print get_block_content('contact_us')/}
  </div>
 </div><!--左边-->
 <div class="main_right">
  <h2 class="title2"><span>Location:{position source=position/}</span></h2>
  <p class="title" style="{print content('style')/}">{print content('title')/}</p>
 <p class="info"><span>Hits:<script language="javascript" src="{path includes/}/hits.php?id={print content('id')/}"></script></span><span>Update:{print date('Y-m-d H:m:s',content('updatetime'))/}</span><span><a href="javascript:window.print()">【Print】</a></span><span><a href="javascript:self.close()">【Close】</a></span></p>
 <ul class="soft_info">
  <li><span>Type:</span>{print content('filetype')/}</li>
  <li><span>Size:</span>{print content('filesize')/}</li>
 </ul><!--下载信息-->
 <p style="border-bottom:1px solid #ccc; padding-left:18px; font-weight:bold; color:#999999">Content</p>
  <div class="arc_body">
    <table width='100%'>
	<tr><td>{print content('content')/}</td></tr>
  </table>
  </div>
  <div class="page_fy">
    {print body_pages()/}
   <div class="clear"></div>
  </div>
  <p style="border-bottom:1px solid #ccc; padding:3px 0; padding-left:18px; font-weight:bold;color:#999999">Down</p>
  <div class="soft_down">
   <a href="{print content('down')/}" target="_blank">Down</a>
  </div><!--下载地址-->

<div class="arc_link" style="clear:both">
 {assign source=content('prev') name=prev/}
 {if $prev}<span>Prev:<a href="{print $prev['url']/}">{print $prev['title']/}</a></span>{else}<span>上一篇：没有了</span>{/if}
  {assign source=content('next') name=next/}
 {if $next}<span>Next<a href="{print $next['url']/}">{print $next['title']/}</a></span>{else}<span>下一篇：没有了</span>{/if}
 </div>

 </div><!--右边-->
 <div class="clear"></div>
</div><!--主体-->
{include foot/}
</body>
</html>