<div class="left_contain">
 <h2 rel="id1_ul"><p {if $act=='main'}class="focus"{/if}><span><a href="member.php?action=main&lang={print $lang/}">Home</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='info'}class="focus"{/if}><span><a href="member.php?action=info&lang={print $lang/}">User Information</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='add_ask'}class="focus"{/if}><span><a href="member.php?action=add_ask&lang={print $lang/}">Adding a consultant</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='ask'}class="focus"{/if}><span><a href="member.php?action=ask&lang={print $lang/}">Management Consulting</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='coll'}class="focus"{/if}><span><a href="member.php?action=coll&lang={print $lang/}">My Favorites</a></span></p></h2>
 <h2 rel="id1_ul"><p {if $act=='password'}class="focus"{/if}><span><a href="member.php?action=password&lang={print $lang/}">Change Password</a></span></p></h2>
 <h2 rel="id1_ul"><p><span><a href="member.php?action=out&lang={print $lang/}">Out</a></span></p></h2>
</div>